
{% extends "layout-exporter.html" %}

{% block pageTitle %}Apply for an export licence - Exporter service name - Sprint future - LITE Prototypes{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds"> 
        {% if data['other-information'] %} 
        <form action="cya-other" method="post">
            <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--l" for="other-information">Other information (optional)</label>
            </h1>
            <div class="govuk-form-group">
                <span id="other-information-hint" class="govuk-hint">XXXX</span>
                <textarea class="govuk-textarea" id="other-information" name="other-information" rows="5" aria-describedby="other-information-hint">{{ data['other-information'] }}</textarea>
            </div>	
            <button type="submit" class="govuk-button" data-module="govuk-button">Save and continue</button><br />
            <p><a href="../task-list?other=started">Finish later</a></p>  
        </form>
        {% else %}
        <form action="../task-list" method="post">
            <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--l" for="other-information">Other information (optional)</label>
            </h1>
            <div class="govuk-form-group">
                <span id="other-information-hint" class="govuk-hint">XXXX</span>
                <textarea class="govuk-textarea" id="other-information" name="other-information" rows="5" aria-describedby="other-information-hint">{{ data['other-information'] }}</textarea>
            </div>	
            <button type="submit" class="govuk-button" data-module="govuk-button">Save and continue</button><br />
            <p><a href="../task-list?other=started">Finish later</a></p>  
        </form>
        {% endif %}
	</div>
</div>
{% endblock %}
