
{% extends "layout-exporter.html" %}

{% block pageTitle %}Give your application a name or reference - Exporter service name - GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form action="export-length" method="post">
			<h1 class="govuk-label-wrapper">
				<label class="govuk-label govuk-label--l" for="reference-application">Give your application a name or reference</label>
			</h1>
			<div class="govuk-form-group">
			    <span id="reference-application-hint" class="govuk-hint">You can use this to find your application later. Make a note of it.</span>
				<input class="govuk-input govuk-!-width-one-half" id="reference-application" name="reference-application" type="text" aria-describedby="reference-application-hint" value="{{ data['reference-application'] }}">
			</div>
			<button type="submit" class="govuk-button" data-module="govuk-button">Save and continue</button><br />
			<p><a href="../task-list?type=started">Finish later</a></p>
		</form>
	</div>
</div>
{% endblock %}
