
{% extends "layout-exporter.html" %}

{% block pageTitle %}Check your answers - Exporter service name - GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds-from-desktop">
		<h1 class="govuk-heading-l">Check your answers</h1>
		<dl class="govuk-summary-list govuk-!-margin-bottom-9">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Sending</dt>
				<dd class="govuk-summary-list__value">{{ data['send-type'] }}</dd>
				<dd class="govuk-summary-list__actions">
					<a class="govuk-link" href="index.html#send-type">Change<span class="govuk-visually-hidden"> sending</span></a> 
				</dd>
            </div> 
            {% if data['licence-type'] === "Standard Licence" %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Licence</dt>
                <dd class="govuk-summary-list__value">{{ data['licence-type'] }}</dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="licence-type#licence-type">Change<span class="govuk-visually-hidden"> licence</span></a> 
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Your reference</dt>
                <dd class="govuk-summary-list__value">{{ data['reference-application'] }}</dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="application-reference#reference-application">Change<span class="govuk-visually-hidden"> your reference</span></a> 
                </dd>
            </div> 
            {% else %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Licence type</dt>
                <dd class="govuk-summary-list__value">{{ data['licence-type'] }}</dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="licence-type#licence-type">Change<span class="govuk-visually-hidden"> licence type</span></a> 
                </dd>
            </div> 
            {% endif %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">How long for</dt>
                <dd class="govuk-summary-list__value">{{ data['export-length'] }}</dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="export-length#export-length">Change<span class="govuk-visually-hidden"> how long for</span></a> 
                </dd>
            </div>
            {% if data['export-official'] === "Yes" %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Told by an official</dt>
                <dd class="govuk-summary-list__value">Yes - {{ data['reference-official'] }}</dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="export-licence-official#export-official">Change<span class="govuk-visually-hidden"> Told by an official</span></a> 
                </dd>
            </div>
            {% else %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Told by an official</dt>
                <dd class="govuk-summary-list__value">{{ data['export-official'] }}</dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="export-licence-official#export-official">Change<span class="govuk-visually-hidden"> Told by an official</span></a> 
                </dd>
            </div>
            {% endif %}
        </dl>
        <a href="../task-list?type=completed" class="govuk-button govuk-!-margin-right-1">Confirm and continue</a>
        <a href="../task-list?type=started" class="govuk-button govuk-button--secondary">Finish later</a> 
	</div>
</div>
{% endblock %}
