
{% extends "layout-exporter.html" %}

{% block pageTitle %}Do you want to export temporarily or permanently - Exporter service name - GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form action="export-licence-official" method="post">
			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset">
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
						<h1 class="govuk-fieldset__heading">Do you want to export temporarily or permanently</h1>
                    </legend>
                    <!-- <span id="sign-in-hint" class="govuk-hint">Select one option.</span> -->
                    <div class="govuk-form-group">
                        <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="temporarily" name="export-length" type="radio" value="Temporarily" {{ checked("export-length", "Temporarily") }}>
                                <label class="govuk-label govuk-radios__label" for="temporarily">Temporarily</label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="permanently" name="export-length" type="radio" value="Permanently" {{ checked("export-length", "Permanently") }}>
                                <label class="govuk-label govuk-radios__label" for="permanently">Permanently</label>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
			<button type="submit" class="govuk-button" data-module="govuk-button">Save and continue</button> 
		</form>
	</div>
</div>
{% endblock %}
