
{% extends "layout-exporter.html" %}

{% block pageTitle %}Add a new good - Exporter service name - GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <form action="good-confirmed" method="post">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-4">Add a new good</h1>
                </legend>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="goods-description">Description of good</label>
                    <span id="goods-description-hint" class="govuk-hint">This can make it easier to find your good later</span>
                    <textarea class="govuk-textarea" id="goods-description" name="goods-description" rows="5" aria-describedby="goods-description-hint">{{ data['goods-description'] }}</textarea>
                </div>	
                <div class="govuk-form-group">
                    <label class="govuk-label" for="part-number">Part number (optional)</label>
                    <input class="govuk-input govuk-!-width-one-half" id="part-number" name="part-number" type="text" value="{{ data['part-number'] }}">
                </div>
                <p class="govuk-body govuk-!-margin-bottom-2">Is your good controlled?</p>
                <div class="govuk-form-group">
                    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="yes-conditional" name="good-controlled" type="radio" value="Yes" {{ checked("good-controlled", "Yes") }} data-aria-controls="conditional-yes-conditional">
                            <label class="govuk-label govuk-radios__label" for="yes-conditional">Yes</label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-yes-conditional">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="control-rating">What is your goods control rating?</label>
                                <input class="govuk-input govuk-!-width-one-half" id="control-rating" name="control-rating" type="text" value="{{ data['control-rating'] }}">
                            </div>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="good-controlled-no" name="good-controlled" type="radio" value="No" {{ checked("good-controlled", "No") }}>
                            <label class="govuk-label govuk-radios__label" for="good-controlled-no">No</label>
                        </div>	
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="good-controlled-no" name="good-controlled" type="radio" value="I don't know" {{ checked("good-controlled", "I don't know") }}>
                            <label class="govuk-label govuk-radios__label" for="good-controlled-no">I don't know</label>
                        </div>	
                    </div>
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="value-goods">Value of goods (in £ pounds)</label>
                    <!-- <span class="govuk-body">£</span> --> <input class="govuk-input govuk-!-width-one-half" id="value-goods" name="value-goods" type="text" value="{{ data['value-goods'] }}">
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="quantity">Quantity</label>
                    <input class="govuk-input govuk-!-width-one-half" id="quantity" name="quantity" type="text" value="{{ data['quantity'] }}">
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="measurement">Unit of measurement</label>
                    <select class="govuk-select" id="measurement" name="measurement">
                        <option value="found" selected>Select</option>
                        <option value="grams">Grams</option>
                        <option value="kilograms">Kilograms</option>
                        <option value="no-articles">Number of articles</option>
                        <option value="sq-metres">Square metres</option>
                        <option value="metres">Metres</option>
                        <option value="litres">Litres</option>
                        <option value="cubic-metres">Cubic metres</option>
                    </select>
                </div>
                <p class="govuk-body govuk-!-margin-bottom-2">Is your good intended to be incorporated into an end product?</p>
                <div class="govuk-form-group">
                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="end-product-yes" name="end-product" type="radio" value="Yes" {{ checked("end-product", "Yes") }}>
                            <label class="govuk-label govuk-radios__label" for="end-product-yes">Yes</label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="end-product-no" name="end-product" type="radio" value="No" {{ checked("end-product", "No") }}>
                            <label class="govuk-label govuk-radios__label" for="end-product-no">No</label>
                        </div>	
                    </div>
                </div>
            </fieldset>
            <br />
            <button type="submit" class="govuk-button" data-module="govuk-button">Add good</button>
			<p><a href="#">Finish later</a></p>
        </form>
	</div>
</div>
{% endblock %}
