
{% extends "layout-exporter.html" %}

{% block pageTitle %}All goods - Exporter service name - GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-7">All goods</h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">1,400 goods</p>
		<table class="govuk-table">
            <caption class="govuk-table__caption hidden">Description, part number and control rating</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Description</th>
                    <th scope="col" class="govuk-table__header">Part number</th>
                    <th scope="col" class="govuk-table__header">Control rating</th>
                    <th scope="col" class="govuk-table__header">Action</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">adc</td>
                    <td class="govuk-table__cell">vv</td>
                    <td class="govuk-table__cell">vw</td>
                    <td class="govuk-table__cell"><a href="add-to-application.html">Add to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">AK47 2019/09/03 11:25:44:145119</td>
                    <td class="govuk-table__cell">321 2019/09/03 11:25:44:145119</td>
                    <td class="govuk-table__cell">1234</td>
                    <td class="govuk-table__cell"><a href="add-to-application.html">Add to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">adc</td>
                    <td class="govuk-table__cell">vv</td>
                    <td class="govuk-table__cell">vw</td>
                    <td class="govuk-table__cell"><a href="add-to-application.html">Add to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">adc</td>
                    <td class="govuk-table__cell">vv</td>
                    <td class="govuk-table__cell">vw</td>
                    <td class="govuk-table__cell"><a href="add-to-application.html">Add to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">adc</td>
                    <td class="govuk-table__cell">vv</td>
                    <td class="govuk-table__cell">vw</td>
                    <td class="govuk-table__cell"><a href="add-to-application.html">Add to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">adc</td>
                    <td class="govuk-table__cell">vv</td>
                    <td class="govuk-table__cell">vw</td>
                    <td class="govuk-table__cell"><a href="add-to-application.html">Add to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">adc</td>
                    <td class="govuk-table__cell">vv</td>
                    <td class="govuk-table__cell">vw</td>
                    <td class="govuk-table__cell"><a href="add-to-application.html">Add to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">adc</td>
                    <td class="govuk-table__cell">vv</td>
                    <td class="govuk-table__cell">vw</td>
                    <td class="govuk-table__cell"><a href="add-to-application.html">Add to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">adc</td>
                    <td class="govuk-table__cell">vv</td>
                    <td class="govuk-table__cell">vw</td>
                    <td class="govuk-table__cell"><a href="add-to-application.html">Add to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">adc</td>
                    <td class="govuk-table__cell">vv</td>
                    <td class="govuk-table__cell">vw</td>
                    <td class="govuk-table__cell"><a href="add-to-application.html">Add to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">adc</td>
                    <td class="govuk-table__cell">vv</td>
                    <td class="govuk-table__cell">vw</td>
                    <td class="govuk-table__cell"><a href="add-to-application.html">Add to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">adc</td>
                    <td class="govuk-table__cell">vv</td>
                    <td class="govuk-table__cell">vw</td>
                    <td class="govuk-table__cell"><a href="add-to-application.html">Add to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">adc</td>
                    <td class="govuk-table__cell">vv</td>
                    <td class="govuk-table__cell">vw</td>
                    <td class="govuk-table__cell"><a href="add-to-application.html">Add to application</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m">Filter (TBC)</h2>
        <p class="govuk-body">XXXX</p>
    </div>
</div>
{% endblock %}
