
{% extends "layout-exporter.html" %}

{% block pageTitle %}TBC - Exporter service name - GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <form action="#" method="post">
            <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--l" for="search-good">TBC</label>
            </h1>
            <div class="govuk-form-group govuk-!-margin-bottom-0">
                <span id="search-goods-hint" class="govuk-hint">XXXXXX</span>
                <input class="govuk-input" id="search-good" name="search-good" type="text" value="{{ data['search-good'] }}"  aria-describedby="search-goods-hint">
            </div>
            <br />
            <button type="submit" class="govuk-button" data-module="govuk-button">Search for a good</button>
            <p>or <a href="all-goods.html">View list of goods</a></p>
			<!-- <p><a href="#">Finish later</a></p> -->
        </form>
	</div>
</div>
{% endblock %}
