
{% extends "layout-exporter.html" %}

{% block pageTitle %}Add goods - Exporter service name - GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <form action="all-goods" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">Add goods</h1>
                    </legend>
                    <span id="search-goods-hint" class="govuk-hint">Add a good to your application by either:</span>
                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="add-new-good" name="goods" type="radio" value="Adding a new good" {{ checked("goods", "Adding a new good") }}>
                            <label class="govuk-label govuk-radios__label" for="add-new-good">Adding a new good</label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="search-goods" name="goods" type="radio" value="Searching all goods in your organisation" {{ checked("goods", "Searching all goods in your organisation") }}>
                            <label class="govuk-label govuk-radios__label" for="search-goods">Searching all goods in your organisation</label>
                        </div>	
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
        </form>
	</div>
</div>
{% endblock %}
