
{% extends "layout-exporter.html" %}

{% block pageTitle %}Goods added to application - Exporter service name - GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Goods added to application</h1>
        <p class="govuk-body">3 goods</p>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
		<table class="govuk-table goods-table">
            <caption class="govuk-table__caption hidden">Description, part number and control rating</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Description</th>
                    <th scope="col" class="govuk-table__header">Part number</th>
                    <th scope="col" class="govuk-table__header">Control rating</th>
                    <th scope="col" class="govuk-table__header">Value</th>
                    <th scope="col" class="govuk-table__header">Quantity</th>
                    <th scope="col" class="govuk-table__header">Unit</th>
                    <th scope="col" class="govuk-table__header">Incorporated</th>
                    <th scope="col" class="govuk-table__header">Actions</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Firearms designed for dummy ammunition</td>
                    <td class="govuk-table__cell">USZIPNMB76</td>
                    <td class="govuk-table__cell">ML1</td>
                    <td class="govuk-table__cell">£1000.00</td>
                    <td class="govuk-table__cell">1</td>
                    <td class="govuk-table__cell">Number of articles</td>
                    <td class="govuk-table__cell">Yes</td>
                    <td class="govuk-table__cell"><a href="add-to-application.html">Change</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="remove-goods.html">Remove</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">AK47 2019/09/03 11:25:44:145119</td>
                    <td class="govuk-table__cell">321 2019/09/03 11:25:44:145119</td>
                    <td class="govuk-table__cell">1234</td>
                    <td class="govuk-table__cell">£254,000.00</td>
                    <td class="govuk-table__cell">6</td>
                    <td class="govuk-table__cell">Kilograms</td>
                    <td class="govuk-table__cell">Yes</td>
                    <td class="govuk-table__cell"><a href="add-to-application.html">Change</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="remove-goods.html">Remove</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Firearms designed for dummy ammunition</td>
                    <td class="govuk-table__cell">USZIPNMB76</td>
                    <td class="govuk-table__cell">ML1</td>
                    <td class="govuk-table__cell">£1000.00</td>
                    <td class="govuk-table__cell">1</td>
                    <td class="govuk-table__cell">Number of articles</td>
                    <td class="govuk-table__cell">No</td>
                    <td class="govuk-table__cell"><a href="add-to-application.html">Change</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="remove-goods.html">Remove</a></td>
                </tr>
            </tbody>
        </table>
        <p class="govuk-body"><a href="index.html">Add another good to application</a></p>
        <p class="govuk-body"><a href="#">Finish later</a></p>
    </div>
</div>
{% endblock %}
