// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.govuk-tabs {
    font-family: "GDS Transport", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    color: #0b0c0c;
}

.app-related-items {
    border-top: 2px solid #005ea5;
}
.faux-hr-blue {
    border-top: 2px solid #005ea5;
}

.panel {
    border: 1px solid #b1b4b6;
    padding: 20px;
}

.internal-ui .govuk-tabs__panel {
    border: none !important;
    /*padding-left: 0 !important;*/
}

.internal-ui .govuk-header__logo {
    display: none;
}

.internal-ui .govuk-header__menu-button {
    top: 10px;
}

.internal-ui .govuk-footer {
    background: #f3f2f1 !important;
    /* clear: both; */
}

.hidden {
    display: none;
}

.applications .govuk-table__cell {
    font-size: 0.85em;
}

.applications .govuk-table__cell .status-date {
    font-size: 0.85em;
    color: #6f777b;
    display: block;   
}

.govuk-tag-progress {
    background-color: #f3f2f1;
    color: #0b0c0c;
}


@media (min-width: 40.0625em) { /* 641px or more */
    .internal-ui .govuk-header__menu-button {
        top: 15px;
    }
}

@media (min-width: 48.0625em) { /* 769px or more */
    .exporter-ui nav,
    .internal-ui nav {
        float: right;
    }

    .internal-ui .govuk-header__content {
        width: 100%;
        padding-left: 0;
    }

    .internal-ui .govuk-tabs__list-item {
        width: 18%;
    }
}