
{% extends "layout-exporter.html" %}

{% block pageTitle %}Apply for an export licence - Exporter service name - Sprint future - LITE Prototypes{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        {% if data["edit"] == "true" %}
        <form action="cya-people" method="post">
        {% else %}
		<form action="user-type" method="post">
        {% endif %}
			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset">
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
						<h1 class="govuk-fieldset__heading">Who will be the end user?</h1>
					</legend>
					<div class="govuk-radios">
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="organisation" name="user-type" type="radio" value="Organisation" {{ checked("user-type", "Organisation") }}>
							<label class="govuk-label govuk-radios__label" for="organisation">Organisation</label>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="individual" name="user-type" type="radio" value="Individual" {{ checked("user-type", "Individual") }}>
							<label class="govuk-label govuk-radios__label" for="individual">Individual</label>
						</div>	
					</div>
				</fieldset>
			</div>
			<button type="submit" class="govuk-button" data-module="govuk-button">Save and continue</button><br />
			<p><a href="../task-list?people=started">Finish later</a></p>  
		</form>
	</div>
</div>
{% endblock %}
