
{% extends "layout-exporter.html" %}

{% block pageTitle %}Application 1 - View licences - Exporter service name - Sprint future - LITE Prototypes{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{{ govukBreadcrumbs({
	items: [
	  {
		text: "Home",
		href: "index.html"
	  },
	  {
		text: "View licences",
		href: "../view-licences.html"
	  },
	  {
		text: "Application 1"
	  }
	]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l govuk-!-margin-bottom-7">Application 1</h1>
		<ol class="app-task-list">
			<li>
				<h2 class="app-task-list__section">
					<span class="app-task-list__section-number">1. </span> Check before you start
				</h2>
				<ul class="app-task-list__items">
					<li class="app-task-list__item">
						<span class="app-task-list__task-name">
							<a href="#" aria-describedby="eligibility-completed">Check eligibility</a>
						</span>
						<strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
					</li>
				</ul>
			</li>
			<li>
			<h2 class="app-task-list__section">
				<span class="app-task-list__section-number">2. </span> Prepare application
			</h2>
			<ul class="app-task-list__items">
				<li class="app-task-list__item">
					<span class="app-task-list__task-name">
						<a href="#" aria-describedby="type-completed">Type of application</a>
					</span>
					<strong class="govuk-tag app-task-list__task-completed" id="type-completed">Completed</strong>
				</li>
				<li class="app-task-list__item">
					<span class="app-task-list__task-name">
						<a href="#" aria-describedby="goods-completed">Add goods</a>
					</span>
					<strong class="govuk-tag app-task-list__task-completed" id="goods-completed">Completed</strong>
				</li>
				<li class="app-task-list__item">
					<span class="app-task-list__task-name">
						<a href="#" aria-describedby="goods-location-completed">Location of goods</a>
					</span>
					<strong class="govuk-tag app-task-list__task-completed" id="goods-location-completed">Completed</strong>
				</li>
				<li class="app-task-list__item">
					<span class="app-task-list__task-name">
						<a href="#" aria-describedby="end-user-completed">End user</a>
						</span>
						<strong class="govuk-tag app-task-list__task-completed" id="end-user-completed">Completed</strong>
						</li>
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<a href="#" aria-describedby="ultimate-end-user-completed">Ultimate end user</a>
							</span>
							<strong class="govuk-tag app-task-list__task-completed" id="ultimate-end-user-completed">Completed</strong>
						</li>
					</ul>
				</li>
				<li>
				<h2 class="app-task-list__section">
					<span class="app-task-list__section-number">3. </span> Apply
				</h2>
				<ul class="app-task-list__items">
					<li class="app-task-list__item">
						<span class="app-task-list__task-name">
							<a href="#" aria-describedby="submit-completed">Submit application</a>
						</span>
						<strong class="govuk-tag app-task-list__task-completed" id="submit-completed">Completed</strong>
					</li>
				</ul>
			</li>
		</ol>
	</div>
</div>
{% endblock %}
