
{% extends "layout-exporter.html" %}

{% block pageTitle %}Test application 1 - View licences - Exporter service name - Sprint future - LITE Prototypes{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{{ govukBreadcrumbs({
	items: [
	  {
		text: "Home",
		href: "index.html"
	  },
	  {
		text: "View licences",
		href: "../view-licences.html"
	  },
	  {
		text: "Test application 1"
	  }
	]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds-from-desktop">
		<h1 class="govuk-heading-l">Test application 1</h1>
		<h2 class="govuk-heading-m">Overview</h2>
		<dl class="govuk-summary-list govuk-!-margin-bottom-9">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Application reference</dt>
				<dd class="govuk-summary-list__value">Test application 1</dd>
				<dd class="govuk-summary-list__actions">
					<a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> application reference</span></a>
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Export licence type</dt>
				<dd class="govuk-summary-list__value">Standard licence</dd>
				<dd class="govuk-summary-list__actions">
					<a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> licence type</span></a>
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Export length</dt>
					<dd class="govuk-summary-list__value">Permanent</dd>
					<dd class="govuk-summary-list__actions">
						<a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> length</span></a>
					</dd>
			</div>
		</dl>
		<h2 class="govuk-heading-m">Number of goods</h2>
		<dl class="govuk-summary-list govuk-!-margin-bottom-9">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Name</dt>
				<dd class="govuk-summary-list__value">Sarah Philips</dd>
				<dd class="govuk-summary-list__actions">
					<a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Date of birth</dt>
				<dd class="govuk-summary-list__value">5 January 1978</dd>
				<dd class="govuk-summary-list__actions">
					<a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Address</dt>
					<dd class="govuk-summary-list__value">72 Guild Street<br>London<br>SE23 6FH</dd>
					<dd class="govuk-summary-list__actions">
						<a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
					</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Contact details</dt>
				<dd class="govuk-summary-list__value">
					<p class="govuk-body">07700 900457</p>
					<p class="govuk-body">sarah.phillips@example.com</p>
				</dd>
				<dd class="govuk-summary-list__actions">
					<a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
				</dd>
			</div>
		</dl>
		<h2 class="govuk-heading-m">Location of goods</h2>
		<dl class="govuk-summary-list govuk-!-margin-bottom-9">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Name</dt>
				<dd class="govuk-summary-list__value">Sarah Philips</dd>
				<dd class="govuk-summary-list__actions">
					<a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Date of birth</dt>
				<dd class="govuk-summary-list__value">5 January 1978</dd>
				<dd class="govuk-summary-list__actions">
					<a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Address</dt>
					<dd class="govuk-summary-list__value">72 Guild Street<br>London<br>SE23 6FH</dd>
					<dd class="govuk-summary-list__actions">
						<a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
					</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Contact details</dt>
				<dd class="govuk-summary-list__value">
					<p class="govuk-body">07700 900457</p>
					<p class="govuk-body">sarah.phillips@example.com</p>
				</dd>
				<dd class="govuk-summary-list__actions">
					<a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
				</dd>
			</div>
		</dl>
		<h2 class="govuk-heading-m">End user</h2>
		<dl class="govuk-summary-list govuk-!-margin-bottom-9">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Name</dt>
				<dd class="govuk-summary-list__value">Sarah Philips</dd>
				<dd class="govuk-summary-list__actions">
					<a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Date of birth</dt>
				<dd class="govuk-summary-list__value">5 January 1978</dd>
				<dd class="govuk-summary-list__actions">
					<a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Address</dt>
					<dd class="govuk-summary-list__value">72 Guild Street<br>London<br>SE23 6FH</dd>
					<dd class="govuk-summary-list__actions">
						<a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
					</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Contact details</dt>
				<dd class="govuk-summary-list__value">
					<p class="govuk-body">07700 900457</p>
					<p class="govuk-body">sarah.phillips@example.com</p>
				</dd>
				<dd class="govuk-summary-list__actions">
					<a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
				</dd>
			</div>
		</dl>

		<!-- <h2 class="govuk-heading-m">Now send your application</h2>
		<p class="govuk-body">By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>
		<form action="/form-handler" method="post" novalidate>
			<input type="hidden" name="answers-checked" value="true">
			<button type="submit" class="govuk-button" data-module="govuk-button">Accept and send</button>
		</form> -->
	</div>
</div>
{% endblock %}
