
{% extends "layout-exporter.html" %}

{% block pageTitle %}Question sent - Exporter service name - Sprint future - LITE Prototypes{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<div class="govuk-panel govuk-panel--confirmation">
			<h1 class="govuk-panel__title govuk-!-font-size-36">Question sent</h1>
			<!-- <div class="govuk-panel__body">Your reference number<br><strong>HDJ2123F</strong></div> -->
		</div>
		<h2 class="govuk-heading-m">What happens next</h2>
		<p class="govuk-body">The Department for International Trade (DIT) usually answers questions within 2 working days.</p>
		<p class="govuk-body">You will get an email from the exporter hub when your answer is ready. Use the link in this email to sign in and see your answer.</p>
		<ul class="govuk-list">
			<!-- <li><a href="index.html" class="govuk-link">Return to your account</a></li> -->
			<li><a href="ask-a-question.html" class="govuk-link">Ask another question</a></li>
		</ul>	
	</div>
</div>
{% endblock %}
