{% extends "layout.html" %}

{% block pageTitle %}LITE - Sprint future - LITE Prototypes{% endblock %}

{% block header %}
	{{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
	<ol class="govuk-breadcrumbs__list">
		<li class="govuk-breadcrumbs__list-item">
			<a class="govuk-breadcrumbs__link" href="#">Home</a>
		</li>
		<li class="govuk-breadcrumbs__list-item">
			<a class="govuk-breadcrumbs__link" href="#">Section</a>
		</li>
		<li class="govuk-breadcrumbs__list-item">
			<a class="govuk-breadcrumbs__link" href="#">Subsection</a>
		</li>
	</ol>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<span class="govuk-caption-l">Guidance</span>
		<h1 class="govuk-heading-l">LITE</h1>
		<p class="govuk-body">TBC</p>
		<p class="govuk-body">TBC: Link to the <a href="gov-uk-start.html" class="govuk-link">GOV.UK start page</a>.</p>
	</div>
	<div class="govuk-grid-column-one-third">
		<aside class="app-related-items govuk-!-padding-top-3" role="complementary">
			<h2 class="govuk-heading-s" id="subsection-title">Related content</h2>
			<nav role="navigation" aria-labelledby="subsection-title">
				<ul class="govuk-list govuk-!-font-size-16">
					<li><a href="#">Related link</a></li>
					<li><a href="#">Related link</a></li>
					<li><a href="#">Related link</a></li>
				</ul>
			</nav>
		</aside>
	</div>
</div>
{% endblock %}
