
{% extends "layout-exporter.html" %}

{% block pageTitle %}Exporters dashboard - Sprint future - LITE Prototypes{% endblock %}

{% set serviceName %}Exporters dashboard{% endset%}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
		<h1 class="govuk-heading-xl govuk-!-margin-bottom-1">ABC Exporters</h1>
		<span class="govuk-caption-xl">Account number: XXX-XXX-XXX</span>
		<!-- <div class="govuk-grid-row govuk-!-margin-top-6">
			<div class="govuk-grid-column-one-half">
				<div class="panel">
					<h2 class="govuk-heading-m">Licence XXXXXX</h2>
					<p class="govuk-body">[What can the user do in this section?]</p>
					<ul class="govuk-list govuk-!-margin-top-4">
						<li><a href="#">Check for a licence</a></li>
						<li><a href="#">Apply for a licence</a></li>
						<li><a href="#">View licences</a></li>
						<li><a href="#">Appeals</a></li>
					</ul>
				</div>
			</div>
			<div class="govuk-grid-column-one-half">
				<div class="panel">
					<h2 class="govuk-heading-m">XXXXXXXXXXXX</h2>
					<p class="govuk-body">[What can the user do in this section?]</p>
					<ul class="govuk-list govuk-!-margin-top-4">
						<li><a href="ask-a-question.html">Ask a question</a></li>
					</ul>
				</div>
			</div>
		</div> -->
    </div>
</div>
{% endblock %}
