
{% extends "layout.html" %}

{% block pageTitle %}Reset your password - Sprint future - LITE Prototypes{% endblock %}

{% set serviceName %} {% endset%}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form action="password-reset-confirm" method="post" novalidate>
			<fieldset class="govuk-fieldset">
				<legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
					<h1 class="govuk-fieldset__heading govuk-!-margin-bottom-4">Reset your password</h1>
				</legend>
				<div class="govuk-form-group">
					<label class="govuk-label" for="password">Password</label>
					<input class="govuk-input govuk-!-width-two-thirds" id="password" name="password" type="password" aria-describedby="password-hint">
				</div>
				<div class="govuk-form-group">
					<label class="govuk-label" for="renter-password">Re-enter password</label>
					<input class="govuk-input govuk-!-width-two-thirds" id="renter-password" name="renter-password" type="password" aria-describedby="renter-password-hint">
				</div>
			</fieldset>
			<button type="submit" class="govuk-button" data-module="govuk-button">Reset password</button>
		</form>
	</div>
</div>
{% endblock %}
