
{% extends "layout.html" %}

{% block pageTitle %}Create your password - Sprint future - LITE Prototypes{% endblock %}

{% set serviceName %} {% endset%}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form action="#" method="post" novalidate>
			<fieldset class="govuk-fieldset">
				<legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
					<h1 class="govuk-fieldset__heading govuk-!-margin-bottom-4">Create your password</h1>
				</legend>
				<div class="govuk-form-group">
					<label class="govuk-label" for="password">Password</label>
					<input class="govuk-input govuk-input--width-20" id="password" name="password" type="password" aria-describedby="password-hint">
				</div>
				<div class="govuk-form-group">
					<label class="govuk-label" for="confirm-password">Confirm password</label>
					<input class="govuk-input govuk-input--width-20" id="confirm-password" name="confirm-password" type="password" aria-describedby="confirm-password-hint">
				</div>
			</fieldset>
			<button type="submit" class="govuk-button" data-module="govuk-button">Create password</button>
		</form>
	</div>
</div>
{% endblock %}
