
{% extends "layout-exporter.html" %}

{% block pageTitle %}Upload a document - Exporter licence account - Sprint future - LITE Prototypes{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form action="#" method="post">
			<h1 class="govuk-label-wrapper">
				<label class="govuk-label govuk-label--l govuk-!-margin-bottom-6" for="ask-question">Upload a document</label>
			</h1>
			<p class="govuk-body">TBC</p>
			<div class="govuk-form-group">
				<label class="govuk-label" for="file-upload">Upload a file</label>
				<input class="govuk-file-upload" id="file-upload" name="file-upload" type="file">
			</div>
			<button type="submit" class="govuk-button" data-module="govuk-button">Upload</button>
		</form>
	</div>
</div>
{% endblock %}
