
{% extends "layout.html" %}

{% block pageTitle %}Sprint future - LITE Prototypes{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl">Sprint future</h1>
		<div class="govuk-tabs" data-module="govuk-tabs">
			<h2 class="govuk-tabs__title">LITE services</h2>
			<ul class="govuk-tabs__list">
				<li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
					<a class="govuk-tabs__tab" href="#exporter">Exporter</a>
				</li>
				<li class="govuk-tabs__list-item">
					<a class="govuk-tabs__tab" href="#internal">Internal</a>
				</li>
				<li class="govuk-tabs__list-item">
					<a class="govuk-tabs__tab" href="#permissions-finder">Permissions Finder</a>
				</li>
			</ul>
			<section class="govuk-tabs__panel" id="exporter">
				<h2 class="govuk-heading-l">Exporter</h2>
				<a href="exporter/gov-uk-guidance.html" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-bottom-1" data-module="govuk-button">
					Start journey
					<svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
						<path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
					</svg>
				</a>
				<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
				<h3 class="govuk-heading-m govuk-!-margin-bottom-1">GOV.UK</h3>
				<p class="govuk-body govuk-!-margin-bottom-0">Entry points into our service.</p>
				<ul class="govuk-list govuk-!-margin-top-2">
					<li><a href="exporter/gov-uk-guidance.html">GOV.UK - Guidance</a></li>
					<li><a href="exporter/gov-uk-start.html">GOV.UK - Start</a></li>
				</ul>
				<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
				<h3 class="govuk-heading-m govuk-!-margin-bottom-1">Sign in or create account</h3>
				<ul class="govuk-list govuk-!-margin-top-0">
					<li><a href="exporter/login.html">Sign in</a>
						<!-- <ul class="govuk-list govuk-!-margin-top-0">
							<li><a href="#">[Error] Incorrect email address</a></li>
						</ul> -->
					</li>
					<li><a href="exporter/create-account.html">Create an account</a></li>
					<li><a href="exporter/activate-account.html">Activate account</a></li>
					<li><a href="exporter/password-reset.html">Reset your passsword</a></li>
					<li><a href="exporter/password-reset-confirm.html">Passsword reset</a></li>
					<li><a href="#">Reset email address</a></li>
					<li><a href="exporter/sign-out.html">Sign out</a></li>
				</ul>
				<!-- <details class="govuk-details" data-module="govuk-details">
					<summary class="govuk-details__summary">
						<span class="govuk-details__summary-text">Validation errors</span>
					</summary>
					<div class="govuk-details__text">
						<ul class="govuk-list govuk-!-margin-top-0">
							<li><a href="#">Sign in</a></li>
							<li><a href="#">Create an account</a></li>
							<li><a href="#">Reset your passsword</a></li>
							<li><a href="#">Reset email address</a></li>
						</ul>
					</div>
				</details> -->
				<h4 class="govuk-heading-s govuk-!-margin-top-4 govuk-!-margin-bottom-0">Email notifications</h4>
				<ul class="govuk-list govuk-!-margin-top-0">
					<li><a href="#">Account created</a></li>
					<li><a href="#">Password reset</a></li>
					<li><a href="#">Password reminder</a></li>
				</ul>
				<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
				<h3 class="govuk-heading-m govuk-!-margin-bottom-1">Exporter licence account</h3>
				<ul class="govuk-list govuk-!-margin-top-0">
					<li><a href="exporter/index.html">Home</a></li>
				</ul>
				<h4 class="govuk-heading-s govuk-!-margin-top-4 govuk-!-margin-bottom-0">Licence management</h4>
				<ul class="govuk-list govuk-!-margin-top-0">
					<li><a href="#">Check for a licence</a></li>
					<li><a href="#">Apply for a licence</a></li>
					<li><a href="#">View licences</a></li>
					<li><a href="#">Appeals</a></li>
				</ul>
				<!-- <details class="govuk-details" data-module="govuk-details">
					<summary class="govuk-details__summary">
						<span class="govuk-details__summary-text">Validation errors</span>
					</summary>
					<div class="govuk-details__text">
						<ul class="govuk-list govuk-!-margin-top-0">
							<li><a href="#">Check for a licence</a></li>
							<li><a href="#">Apply for a licence</a></li>
							<li><a href="#">View licences</a></li>
							<li><a href="#">Appeals</a></li>
						</ul>
					</div>
				</details> -->
				<h4 class="govuk-heading-s govuk-!-margin-top-4 govuk-!-margin-bottom-0">Tasks???</h4>
				<ul class="govuk-list govuk-!-margin-top-0">
					<li><a href="exporter/ask-a-question.html">Ask a question</a></li>
				</ul>
				<h4 class="govuk-heading-s govuk-!-margin-top-4 govuk-!-margin-bottom-0">Account management</h4>
				<ul class="govuk-list govuk-!-margin-top-0">
					<li><a href="#">Edit your account</a></li>
					<li><a href="#">Delete your account</a></li>
				</ul>
				<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
				<h3 class="govuk-heading-m govuk-!-margin-bottom-1">No service</h3>
				<ul class="govuk-list govuk-!-margin-top-0">
					<li><a href="exporter/service-unavailable.html">Service unavailable (error 503)</a></li>
					<li><a href="exporter/service-problem.html">There is a problem (error 500)</a></li>
					<li><a href="exporter/service-not-found.html">Page not found (error 404)</a></li>
				</ul>
				<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
				<h3 class="govuk-heading-m govuk-!-margin-bottom-1">Accessibility</h3>
				<ul class="govuk-list govuk-!-margin-top-0">
					<li><a href="#">Accessibility statement</a></li>
				</ul>
			</section>
			<section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="internal">
				<h2 class="govuk-heading-l">Internal</h2>
				<p>TBC</p>
			</section>
			<section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="permissions-finder">
				<h2 class="govuk-heading-l">Permissions Finder</h2>
				<a href="permissions-finder/gov-uk-guidance.html" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-bottom-1" data-module="govuk-button">
					Start journey
					<svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
						<path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
					</svg>
				</a>
				<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
				<h3 class="govuk-heading-m govuk-!-margin-bottom-1">GOV.UK</h3>
				<p class="govuk-body govuk-!-margin-bottom-0">Entry points into our service.</p>
				<ul class="govuk-list govuk-!-margin-top-2">
					<li><a href="permissions-finder/gov-uk-guidance.html">GOV.UK - Guidance</a></li>
					<li><a href="permissions-finder/gov-uk-start.html">GOV.UK - Start</a></li>
				</ul>
				<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
				<h3 class="govuk-heading-m govuk-!-margin-bottom-1">Email notifications</h3>
				<ul class="govuk-list govuk-!-margin-top-0">
					<li><a href="permissions-finder/email-application-code.html">Application Number</a></li>
				</ul> 
			</section>
		</div>
    </div>
</div>
{% endblock %}
