{% extends "layout.html" %}

{% block pageTitle %}TBC - Sprint future - LITE Prototypes{% endblock %}

{% block header %}
	{{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
{{ govukBreadcrumbs({
	items: [
	{
		text: "Home",
		href: "#"
	},
	{
		text: "Section",
		href: "#"
	},
	{
		text: "Subsection"
	}
	]
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<span class="govuk-caption-l">Guidance</span>
		<h1 class="govuk-heading-l">TBC</h1>
		<p class="govuk-body">TBC</p>
		<p class="govuk-body">TBC: Link to the <a href="gov-uk-start.html" class="govuk-link">GOV.UK start page</a>.</p>
	</div>
	<div class="govuk-grid-column-one-third">
		<aside class="app-related-items govuk-!-padding-top-3" role="complementary">
			<h2 class="govuk-heading-s" id="subsection-title">Related content</h2>
			<nav role="navigation" aria-labelledby="subsection-title">
				<ul class="govuk-list govuk-!-font-size-16">
					<li><a href="#">Related link</a></li>
					<li><a href="#">Related link</a></li>
					<li><a href="#">Related link</a></li>
				</ul>
			</nav>
		</aside>
	</div>
</div>
{% endblock %}
