
{% extends "layout-exporter.html" %}

{% block pageTitle %}Add a new product - Exporter service name - GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <form action="save" method="post">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-4">Add a new product</h1>
                </legend>
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--m" for="product-name">Name of product</label>
                    <input class="govuk-input govuk-!-width-full" id="product-name" name="tempProduct[product-name]" type="text" value="{{ data.tempProduct['product-name'] }}">
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--m" for="product-description">What does this product do?</label>
                    <textarea class="govuk-textarea" id="product-description" name="tempProduct[product-description]" rows="5" aria-describedby="product-description-hint">{{ data.tempProduct['product-description'] }}</textarea>
                </div>	
                <p class="govuk-body govuk-!-margin-bottom-1 govuk-label--m">Is your product controlled?</p>
                <span class="govuk-hint">Controlled products are ones that can be dangerous. You need a licence to export a controlled product.</span>
                <div class="govuk-form-group">
                    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="yes-conditional" name="tempProduct[product-controlled]" type="radio" value="Yes" {{ checked("product-controlled", "Yes") }} data-aria-controls="conditional-yes-conditional">
                            <label class="govuk-label govuk-radios__label" for="yes-conditional">Yes</label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-yes-conditional">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="control-rating">What is the control list classification?</label>
                                <input class="govuk-input govuk-!-width-one-half" id="control-rating" name="tempProduct[control-rating]" type="text" value="{{ data.tempProduct['control-rating'] }}">
                            </div>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="product-controlled-no" name="tempProduct[product-controlled]" type="radio" value="No" {{ checked("product-controlled", "No") }}>
                            <label class="govuk-label govuk-radios__label" for="product-controlled-no">No</label>
                        </div>	
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="product-controlled-unsure" name="tempProduct[product-controlled]" type="radio" value="Not sure" {{ checked("product-controlled", "Not sure") }}>
                            <label class="govuk-label govuk-radios__label" for="product-controlled-unsure">Not sure</label>
                        </div>	
                    </div>
                    <details class="govuk-details govuk-!-margin-top-2" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">I am not sure if my product is controlled</span>
                        </summary>
                        <div class="govuk-details__text">You can <a href="https://permissions-finder.service.trade.gov.uk/" target="_blank" class="govuk-link">find out if your product is controlled</a> using another GOV.UK service (Check if you need an export licence).<br /><br />If your product is controlled, you will be given a control code to answer this question.</div>
                    </details>
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--m" for="part-number">Part number (optional)</label>
                    <input class="govuk-input govuk-!-width-one-half" id="part-number" name="tempProduct[part-number]" type="text" value="{{ data.tempProduct['part-number'] }}">
                </div>
                <p class="govuk-body govuk-!-margin-bottom-2 govuk-label--m">Upload a product specification</p>
                <span class="govuk-hint">If you do not have a product specification, you can upload any other document that explains what the product will be used for.</span>
                <div class="govuk-form-group">
                    <input class="govuk-file-upload" id="file-upload" name="tempProduct[file-upload]" type="file">
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--m" for="document-description">What have you uploaded? (optional)</label>
                    <textarea class="govuk-textarea" id="document-description" name="tempProduct[document-description]" rows="5">{{ data.tempProduct['document-description'] }}</textarea>
                </div>	 
            </fieldset>
            <button type="submit" class="govuk-button" data-module="govuk-button">Save and continue</button>
        </form>
	</div>
</div>
{% endblock %}
