
{% extends "layout-exporter.html" %}

{% block pageTitle %}Add a new product - Exporter service name - GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <!-- <form action="add-product-file" method="post"> -->
        <form action="product-added" method="post">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-4">Add a new product</h1>
                </legend>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="product-description">What is the product?</label>
                    <span id="product-description-hint" class="govuk-hint">Explain:</span>
                    <ul class="govuk-list govuk-list--bullet grey-text govuk-!-margin-top-0 govuk-!-margin-bottom-2">
                        <li>what it will be used for</li>
                        <li>if it is a standalone product, or</li>
                        <li>if it will be used as a part for another product</li>
                    </ul>
                    <textarea class="govuk-textarea" id="product-description" name="product-description" rows="5" aria-describedby="product-description-hint">{{ data['product-description'] }}</textarea>
                </div>	
                <p class="govuk-body govuk-!-margin-bottom-1">Is your product controlled?</p>
                <span class="govuk-hint">Controlled products are ones that can be dangerous. You need a licence to export a controlled product.</span>
                <div class="govuk-form-group">
                    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="yes-conditional" name="product-controlled" type="radio" value="Yes" {{ checked("product-controlled", "Yes") }} data-aria-controls="conditional-yes-conditional">
                            <label class="govuk-label govuk-radios__label" for="yes-conditional">Yes</label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-yes-conditional">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="control-rating">What is the control list classification?</label>
                                <input class="govuk-input govuk-!-width-one-half" id="control-rating" name="control-rating" type="text" value="{{ data['control-rating'] }}">
                            </div>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="product-controlled-no" name="product-controlled" type="radio" value="No" {{ checked("product-controlled", "No") }}>
                            <label class="govuk-label govuk-radios__label" for="product-controlled-no">No</label>
                        </div>	
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="product-controlled-unsure" name="product-controlled" type="radio" value="Not sure" {{ checked("product-controlled", "Not sure") }}>
                            <label class="govuk-label govuk-radios__label" for="product-controlled-unsure">Not sure</label>
                        </div>	
                    </div>
                    <details class="govuk-details govuk-!-margin-top-2" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">I am not sure if my product is controlled</span>
                        </summary>
                        <div class="govuk-details__text">You can <a href="https://permissions-finder.service.trade.gov.uk/" target="_blank">find out if your product is controlled</a> using another GOV.UK service (Check if you need an export licence).<br /><br />If your product is controlled, you will be given a control code to answer this question.</div>
                    </details>
                </div>
                <!-- <div class="govuk-form-group">
                    <label class="govuk-label" for="part-number">Do you know the part number?</label>
                    <input class="govuk-input govuk-!-width-one-half" id="part-number" name="part-number" type="text" value="{{ data['part-number'] }}">
                </div> -->

                <p class="govuk-body govuk-!-margin-bottom-3">Do you know the part number?</p>
                <div class="govuk-form-group">
                    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="yes-part-conditional" name="part-number" type="radio" value="Yes" {{ checked("part-number", "Yes") }} data-aria-controls="conditional-yes-part-conditional">
                            <label class="govuk-label govuk-radios__label" for="yes-part-conditional">Yes</label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-yes-part-conditional">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="the-part-number">Part number</label>
                                <input class="govuk-input govuk-!-width-one-half" id="the-part-number" name="the-part-number" type="text" value="{{ data['the-part-number'] }}">
                            </div>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="part-number-no" name="part-number" type="radio" value="No" {{ checked("part-number", "No") }}>
                            <label class="govuk-label govuk-radios__label" for="part-number-no">No</label>
                        </div>	
                    </div>
                </div>

                <p class="govuk-body govuk-!-margin-bottom-2">Upload a product specification</p>
                <span class="govuk-hint">If you do not have a product specification, you can upload any other document that explains what the product will be used for.</span>
                <div class="govuk-form-group">
                    <input class="govuk-file-upload" id="file-upload" name="file-upload" type="file">
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="document-description">What have you uploaded? (optional)</label>
                    <textarea class="govuk-textarea" id="document-description" name="document-description" rows="5">{{ data['document-description'] }}</textarea>
                </div>	 
            </fieldset>
            <button type="submit" class="govuk-button" data-module="govuk-button">Save and continue</button>
            <!-- <button type="submit" class="govuk-button" data-module="govuk-button">Add product</button> -->
        </form>
	</div>
</div>
{% endblock %}
