
{% extends "layout-exporter.html" %}

{% block pageTitle %}Add product to application - Exporter service name - GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <form action="list-of-products-application" method="post">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-4">Add product to application</h1>
                </legend>

                <dl class="govuk-summary-list govuk-summary-list--no-border">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Description</dt>
                        <dd class="govuk-summary-list__value">Firearms designed for dummy ammunition</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Part number</dt>
                        <dd class="govuk-summary-list__value">USZIPNMB76</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Control rating</dt>
                        <dd class="govuk-summary-list__value">ML1</dd>
                    </div>
                </dl>
                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                <div class="govuk-form-group">
                    <label class="govuk-label" for="value-products">Value of products (£)</label>
                    <input class="govuk-input govuk-!-width-one-half" id="value-products" name="value-products" type="text" value="{{ data['value-products'] }}">
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="quantity">Quantity</label>
                    <input class="govuk-input govuk-!-width-one-half" id="quantity" name="quantity" type="text" value="{{ data['quantity'] }}">
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="measurement">Unit of measurement</label>
                    <select class="govuk-select" id="measurement" name="measurement">
                        <option value="select" selected>Select</option>
                        <option value="Grams {{ checked("measurement", "grams") }}">Grams</option>
                        <option value="Kilograms {{ checked("measurement", "kilograms") }}">Kilograms</option>
                        <option value="Number of articles {{ checked("measurement", "no-articles") }}">Number of articles</option>
                        <option value="Square metres {{ checked("measurement", "sq-metres") }}">Square metres</option>
                        <option value="Metres {{ checked("measurement", "metres") }}">Metres</option>
                        <option value="Litres {{ checked("measurement", "litres") }}">Litres</option>
                        <option value="Cubic metres {{ checked("measurement", "cubic-metres") }}">Cubic metres</option>
                    </select>
                </div>
                <p class="govuk-body govuk-!-margin-bottom-1">Is your product intended to be incorporated into an end product?</p>
                <span class="govuk-hint">Choose yes if the good you are exporting will be used as part of another product.</span>
                <div class="govuk-form-group">
                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="end-product-yes" name="end-product" type="radio" value="Yes" {{ checked("end-product", "Yes") }}>
                            <label class="govuk-label govuk-radios__label" for="end-product-yes">Yes</label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="end-product-no" name="end-product" type="radio" value="No" {{ checked("end-product", "No") }}>
                            <label class="govuk-label govuk-radios__label" for="end-product-no">No</label>
                        </div>	
                    </div>
                </div> 
            </fieldset>
            <button type="submit" class="govuk-button" data-module="govuk-button">Add product to application</button>
			<p><a href="#">Finish later</a></p>
        </form>
	</div>
</div>
{% endblock %}
