
{% extends "layout-exporter.html" %}

{% block pageTitle %}All products - Exporter service name - GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-7">All products</h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <div class="filter-section">
            <form action="all-products-filter" method="post">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading">Filter by</h2>
                    </legend>
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="products-description">Description</label>
                        <input class="govuk-input" id="products-description" name="_products-description" type="text" value="{{ data['products-description'] }}">
                    </div>
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="products-part-number">Part number</label>
                        <input class="govuk-input" id="products-part-number" name="_products-part-number" type="text" value="{{ data['products-part-number'] }}">
                    </div>
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="products-control-rating">Control rating</label>
                        <input class="govuk-input" id="products-control-rating" name="_products-control-rating" type="text" value="{{ data['products-control-rating'] }}">
                    </div>
                </fieldset>
                <button type="submit" class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">Filter products</button>
                <a href="all-products.html" class="govuk-link clear-filter">Clear filter</a>
            </form>
        </div>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">1,400 products</p>
		<table class="govuk-table">
            <caption class="govuk-table__caption hidden">Description, part number and control rating</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Description</th>
                    <th scope="col" class="govuk-table__header">Part number</th>
                    <th scope="col" class="govuk-table__header">Control rating</th>
                    <th scope="col" class="govuk-table__header">Action</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Firearms designed for dummy ammunition</td>
                    <td class="govuk-table__cell">USZIPNMB76</td>
                    <td class="govuk-table__cell">ML1</td>
                    <td class="govuk-table__cell"><a href="add-to-application.html?add=true">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">AK47 2019/09/03 11:25:44:145119</td>
                    <td class="govuk-table__cell">321 2019/09/03 11:25:44:145119</td>
                    <td class="govuk-table__cell">1234</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">adc</td>
                    <td class="govuk-table__cell">vv</td>
                    <td class="govuk-table__cell">vw</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">adc</td>
                    <td class="govuk-table__cell">N/A</td>
                    <td class="govuk-table__cell">vw</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">adc</td>
                    <td class="govuk-table__cell">vv</td>
                    <td class="govuk-table__cell">vw</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">adc</td>
                    <td class="govuk-table__cell">vv</td>
                    <td class="govuk-table__cell">vw</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Firearms designed for dummy ammunition</td>
                    <td class="govuk-table__cell">N/A</td>
                    <td class="govuk-table__cell">ML1</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">adc</td>
                    <td class="govuk-table__cell">vv</td>
                    <td class="govuk-table__cell">vw</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">adc</td>
                    <td class="govuk-table__cell">vv</td>
                    <td class="govuk-table__cell">vw</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">adc</td>
                    <td class="govuk-table__cell">vv</td>
                    <td class="govuk-table__cell">vw</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Firearms designed for dummy ammunition</td>
                    <td class="govuk-table__cell">USZIPNMB76</td>
                    <td class="govuk-table__cell">ML1</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">adc</td>
                    <td class="govuk-table__cell">vv</td>
                    <td class="govuk-table__cell">vw</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">adc</td>
                    <td class="govuk-table__cell">vv</td>
                    <td class="govuk-table__cell">vw</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">AK47 2019/09/03 11:25:44:145119</td>
                    <td class="govuk-table__cell">321 2019/09/03 11:25:44:145119</td>
                    <td class="govuk-table__cell">1234</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">adc</td>
                    <td class="govuk-table__cell">vv</td>
                    <td class="govuk-table__cell">vw</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Firearms designed for dummy ammunition</td>
                    <td class="govuk-table__cell">USZIPNMB76</td>
                    <td class="govuk-table__cell">ML1</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">AK47 2019/09/03 11:25:44:145119</td>
                    <td class="govuk-table__cell">321 2019/09/03 11:25:44:145119</td>
                    <td class="govuk-table__cell">1234</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">adc</td>
                    <td class="govuk-table__cell">vv</td>
                    <td class="govuk-table__cell">vw</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">adc</td>
                    <td class="govuk-table__cell">vv</td>
                    <td class="govuk-table__cell">vw</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">adc</td>
                    <td class="govuk-table__cell">vv</td>
                    <td class="govuk-table__cell">vw</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">adc</td>
                    <td class="govuk-table__cell">vv</td>
                    <td class="govuk-table__cell">vw</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Firearms designed for dummy ammunition</td>
                    <td class="govuk-table__cell">USZIPNMB76</td>
                    <td class="govuk-table__cell">ML1</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">adc</td>
                    <td class="govuk-table__cell">vv</td>
                    <td class="govuk-table__cell">vw</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">adc</td>
                    <td class="govuk-table__cell">vv</td>
                    <td class="govuk-table__cell">vw</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">adc</td>
                    <td class="govuk-table__cell">vv</td>
                    <td class="govuk-table__cell">vw</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Firearms designed for dummy ammunition</td>
                    <td class="govuk-table__cell">USZIPNMB76</td>
                    <td class="govuk-table__cell">ML1</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">adc</td>
                    <td class="govuk-table__cell">vv</td>
                    <td class="govuk-table__cell">vw</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">adc</td>
                    <td class="govuk-table__cell">vv</td>
                    <td class="govuk-table__cell">vw</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">AK47 2019/09/03 11:25:44:145119</td>
                    <td class="govuk-table__cell">321 2019/09/03 11:25:44:145119</td>
                    <td class="govuk-table__cell">1234</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">adc</td>
                    <td class="govuk-table__cell">vv</td>
                    <td class="govuk-table__cell">vw</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Firearms designed for dummy ammunition</td>
                    <td class="govuk-table__cell">USZIPNMB76</td>
                    <td class="govuk-table__cell">ML1</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">AK47 2019/09/03 11:25:44:145119</td>
                    <td class="govuk-table__cell">321 2019/09/03 11:25:44:145119</td>
                    <td class="govuk-table__cell">1234</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">adc</td>
                    <td class="govuk-table__cell">N/A</td>
                    <td class="govuk-table__cell">vw</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">adc</td>
                    <td class="govuk-table__cell">vv</td>
                    <td class="govuk-table__cell">vw</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">adc</td>
                    <td class="govuk-table__cell">vv</td>
                    <td class="govuk-table__cell">vw</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr> 
            </tbody>
        </table>
        <div class="pagination">
            <div class="pager-summary govuk-body">Showing 1 &ndash; 50 of 1,400 products</div>
            <ul class="pager-items govuk-body">
                <li>1</li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">Next</a></li>
            </ul>
        </div>
        <!-- <p><a href="#">Finish later</a></p> -->
    </div>
</div>
{% endblock %}
