
{% extends "layout-exporter.html" %}

{% block pageTitle %}Products (924 available) - Exporter service name - GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Products (924 available)</h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <div class="filter-section">
            <form action="all-products-application-filter" method="post">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading">Filter by</h2>
                    </legend>
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="products-name">Product</label>
                        <input class="govuk-input" id="products-name" name="products-name" type="text" value="{{ data['products-name'] }}">
                    </div>
                </fieldset>
                <button type="submit" class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">Filter products</button>
                <a href="all-products-application.html" class="govuk-link clear-filter">Clear filter</a>
            </form>
        </div>
    </div>
    <div class="govuk-grid-column-two-thirds">
		<table class="govuk-table govuk-!-margin-bottom-4">
            <caption class="govuk-table__caption hidden">Product and action</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Product</th>
                    <th scope="col" class="govuk-table__header">Action</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">{{ data['product-name'] }}</td>
                    <td class="govuk-table__cell"><a href="add-to-application.html?add=true">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Nuclear Fuel Complex 1</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">MLD-TC87 two locks</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Boston Dynamics Spot droid 67-D1</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Nuclear Fuel Complex 2</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Lockheed AC-130</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Boston Dynamics Spot droid 67-D2</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Boston Dynamics Spot droid 67-D3</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Nuclear Fuel Complex 3</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Lockheed AC-131</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Boston Dynamics Spot droid 67-D4</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Nuclear Fuel Complex 4</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Lockheed AC-132</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Boston Dynamics Spot droid 67-D5</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Nuclear Fuel Complex 5</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Lockheed AC-133</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Boston Dynamics Spot droid 67-D6</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Boston Dynamics Spot droid 67-D7</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Nuclear Fuel Complex 6</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Lockheed AC-134</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Boston Dynamics Spot droid 67-D8</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Nuclear Fuel Complex</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Lockheed AC-135</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Boston Dynamics Spot droid 67-D9</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Nuclear Fuel Complex 7</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Lockheed AC-136</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Boston Dynamics Spot droid 67-D10</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Boston Dynamics Spot droid 67-D11</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Nuclear Fuel Complex 8</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Lockheed AC-137</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Boston Dynamics Spot droid 67-D12</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Nuclear Fuel Complex 9</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Lockheed AC-138</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Boston Dynamics Spot droid 67-D13</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Nuclear Fuel Complex 10</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Lockheed AC-139</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Boston Dynamics Spot droid 67-D14</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Boston Dynamics Spot droid 67-D15</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Nuclear Fuel Complex 11</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Lockheed AC-140</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Boston Dynamics Spot droid 67-D16</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Nuclear Fuel Complex</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Lockheed AC-141</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Boston Dynamics Spot droid 67-D17</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Nuclear Fuel Complex 12</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Lockheed AC-142</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Boston Dynamics Spot droid 67-D18</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Boston Dynamics Spot droid 67-D19</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Nuclear Fuel Complex 13</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Lockheed AC-143</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>  
            </tbody>
        </table>
        <div class="pagination">
            <div class="pager-summary govuk-body">Showing <strong>1</strong> &ndash; <strong>50</strong> of <strong>924</strong> products</div>
            <ul class="pager-items govuk-body">
                <li>1</li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">Next</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
