
{% extends "layout-exporter.html" %}

{% block pageTitle %}Your products (1 added) - Exporter service name - GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-7 float-left">Your products (1 added)</h1>
        <a href="add-product.html" class="govuk-button float-right">Add a new product</a>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <div class="filter-section">
            <form action="#" method="post">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading">Filter by</h2>
                    </legend>
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="products-description">Description</label>
                        <input class="govuk-input" id="products-description" name="products-description" type="text" value="{{ data['products-description'] }}">
                    </div>
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="products-control-rating">Control rating</label>
                        <input class="govuk-input" id="products-control-rating" name="products-control-rating" type="text" value="{{ data['products-control-rating'] }}">
                    </div>
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="products-part-number">Part number</label>
                        <input class="govuk-input" id="products-part-number" name="products-part-number" type="text" value="{{ data['products-part-number'] }}">
                    </div>
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="products-status">Status</label>
                        <input class="govuk-input" id="products-status" name="products-status" type="text" value="{{ data['products-status'] }}">
                    </div>
                </fieldset>
                <a href="#" class="govuk-button govuk-!-margin-bottom-0">Filter products</a>
                <a href="#" class="govuk-link clear-filter">Clear filter</a>
            </form>
        </div>
    </div> 
    <div class="govuk-grid-column-two-thirds">
        <table class="govuk-table govuk-!-margin-bottom-4">
            <caption class="govuk-table__caption hidden">Description, part number and control rating</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Description</th>
                    <th scope="col" class="govuk-table__header">Control rating</th>
                    <th scope="col" class="govuk-table__header">Part number</th>
                    <th scope="col" class="govuk-table__header">Status</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">{{ data['product-description'] }}</td>

                    {% if data['product-controlled'] == "Yes" %}
                    <td class="govuk-table__cell">{{ data['control-rating'] }}</td>
                    {% else %}
                    <td class="govuk-table__cell">N/A</td>
                    {% endif %}

                    {% if data['part-number'] == "Yes" %}
                    <td class="govuk-table__cell">{{ data['the-part-number'] }}</td>
                    {% else %}
                    <td class="govuk-table__cell">N/A</td>
                    {% endif %}

                    <td class="govuk-table__cell"><a href="status-product-added.html" class="govuk-link govuk-link--no-visited-state">Product added</a></td>

                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
