
{% extends "layout-exporter.html" %}

{% block pageTitle %}Products ({{data['products'].length}} available) - Exporter service name - GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Products ({{data['products'].length}} available)</h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">        
        <div class="search-section govuk-!-margin-bottom-4">
            <form action="all-products-application-search" method="post">
                <div class="govuk-form-group govuk-!-margin-bottom-0">
                    <label class="govuk-label govuk-label--m" for="search-products">Search products</label>
                    <div class="clearfix">
                        <input class="govuk-input govuk-!-width-full govuk-!-margin-bottom-3" id="search-products" name="search-products" type="text" value="{{ data['search-products'] }}">
                        <button type="submit" class="govuk-button" data-module="govuk-button">Search</button>
                        <a href="all-products-application.html" class="govuk-link clear-search">Clear search</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
		<table class="govuk-table govuk-!-margin-bottom-4">
            <caption class="govuk-table__caption hidden">Product and action</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Product</th>
                    <th scope="col" class="govuk-table__header">Action</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                {% for item in data['products'] %}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">{{ item['product-name'] }}</td>
                    <td class="govuk-table__cell"><a href="add-to-application.html?add=true&product-name={{item['product-name']}}" class="govuk-link govuk-link--no-visited-state">Add product to application</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            {% if data['products'].length>50%}<div class="pager-summary govuk-body">Showing <strong>1</strong> &ndash; <strong>{% if data['products'].length>50%} 50 {%else%} {{data['products'].length}} {% endif %}</strong> of <strong>{{data['products'].length}}</strong> products</div>{% endif %}
            <ul class="pager-items govuk-body">
               {% if data['products'].length>50%}
                <li>1</li>
                <li><a href="#" class="govuk-link govuk-link--no-visited-state">2</a></li>
                {% endif %}
                {% if data['products'].length>100%}
                <li><a href="#" class="govuk-link govuk-link--no-visited-state">3</a></li>
                {% endif %}
                {% if data['products'].length>150%}
                <li><a href="#" class="govuk-link govuk-link--no-visited-state">4</a></li>
                {% endif %}
                {% if data['products'].length>200%}
                <li><a href="#" class="govuk-link govuk-link--no-visited-state">5</a></li>
                {% endif %}
                {% if data['products'].length>250%}
                <li><a href="#" class="govuk-link govuk-link--no-visited-state">Next</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
