
{% extends "layout-exporter.html" %}

{% block pageTitle %}Add products to an application - Exporter service name - GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <!-- <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Add products to an application</h1> -->
        <h1 class="govuk-heading-l govuk-!-margin-bottom-7">9 products available to add to an application</h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <div class="filter-section">
            <form action="#" method="post">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading">Filter by</h2>
                    </legend>
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="products-description">Description</label>
                        <input class="govuk-input" id="products-description" name="products-description" type="text" value="{{ data['products-description'] }}">
                    </div>
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="products-part-number">Part number</label>
                        <input class="govuk-input" id="products-part-number" name="products-part-number" type="text" value="{{ data['products-part-number'] }}">
                    </div>
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="products-control-rating">Control rating</label>
                        <input class="govuk-input" id="products-control-rating" name="products-control-rating" type="text" value="{{ data['products-control-rating'] }}">
                    </div>
                </fieldset>
                <button type="submit" class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">Filter products</button>
                <a href="all-products-application.html" class="govuk-link clear-filter">Clear filter</a>
            </form>
        </div>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <!-- <p class="govuk-body">9 products</p> 
        <h2 class="govuk-heading-m">9 products</h2> -->
        <div class="filter-results govuk-body govuk-!-font-size-16">
            <span class="title">Containing</span>
            <a href="#" class="filter-button">
                <span class="close-btn govuk-!-font-size-24">&times;</span> 
                <span class="filter-word">N/A</span>
            </a>
            <span>and</span>
            <a href="#" class="filter-button">
                <span class="close-btn govuk-!-font-size-24">&times;</span>
                <span class="filter-word">ML1</span>
            </a> 
            <!-- <span class="filter-button"><a href="#">N/A</a><a href="#" class="govuk-link">remove</a></span>
            <span>and</span>
            <span class="filter-button"><a href="#">ML1</a><a href="#" class="govuk-link">remove</a></span> -->
        </div>
		<table class="govuk-table govuk-!-margin-bottom-4">
            <caption class="govuk-table__caption hidden">Description, part number and control rating</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Description</th>
                    <th scope="col" class="govuk-table__header">Part number</th>
                    <th scope="col" class="govuk-table__header">Control rating</th>
                    <th scope="col" class="govuk-table__header">Action</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    {% if data['product-description'] %}
                    <td class="govuk-table__cell">{{ data['product-description'] }}</td>
                    {% else %}
                    <td class="govuk-table__cell">Firearms designed for dummy ammunition</td>
                    {% endif %}

                    {% if data['part-number'] %}
                    <td class="govuk-table__cell">{{ data['part-number'] }}</td>
                    {% else %}
                    <td class="govuk-table__cell">USZIPNMB76</td>
                    {% endif %}

                    {% if data['control-rating'] %}
                    <td class="govuk-table__cell">{{ data['control-rating'] }}</td>
                    {% else %}
                    <td class="govuk-table__cell">ML1</td>
                    {% endif %}

                    <td class="govuk-table__cell"><a href="add-to-application.html?add=true">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">adc</td>
                    <td class="govuk-table__cell">N/A</td>
                    <td class="govuk-table__cell">vw</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Firearms designed for dummy ammunition</td>
                    <td class="govuk-table__cell">N/A</td>
                    <td class="govuk-table__cell">ML1</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Firearms designed for dummy ammunition</td>
                    <td class="govuk-table__cell">USZIPNMB76</td>
                    <td class="govuk-table__cell">ML1</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Firearms designed for dummy ammunition</td>
                    <td class="govuk-table__cell">USZIPNMB76</td>
                    <td class="govuk-table__cell">ML1</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Firearms designed for dummy ammunition</td>
                    <td class="govuk-table__cell">USZIPNMB76</td>
                    <td class="govuk-table__cell">ML1</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Firearms designed for dummy ammunition</td>
                    <td class="govuk-table__cell">USZIPNMB76</td>
                    <td class="govuk-table__cell">ML1</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Firearms designed for dummy ammunition</td>
                    <td class="govuk-table__cell">USZIPNMB76</td>
                    <td class="govuk-table__cell">ML1</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">adc</td>
                    <td class="govuk-table__cell">N/A</td>
                    <td class="govuk-table__cell">vw</td>
                    <td class="govuk-table__cell"><a href="#">Add product to application</a></td>
                </tr>
            </tbody>
        </table>
        <div class="pagination">
            <div class="pager-summary govuk-body">Showing <strong>1</strong> &ndash; <strong>9</strong> of <strong>1,400</strong> products</div>
        </div>
    </div>
</div>
{% endblock %}
