
{% extends "layout-exporter.html" %}

{% block pageTitle %}Add a product to application - Exporter service name - GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <form action="all-products-application" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">Add a product to application</h1>
                    </legend>
                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="add-new-product" name="products" type="radio" value="A new product" {{ checked("products", "A new product") }}>
                            <label class="govuk-label govuk-radios__label" for="add-new-product">A new product</label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="search-products" name="products" type="radio" value="Search for products in your organisation" {{ checked("products", "Search for products in your organisation") }}>
                            <label class="govuk-label govuk-radios__label" for="search-products">Search for products in your organisation</label>
                        </div>	
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
        </form>
        <!-- <p class="govuk-body"><a href="#">Finish later</a></p> -->
	</div>
</div>
{% endblock %}
