
{% extends "layout-exporter.html" %}

{% block pageTitle %}Products added to application - Exporter service name - GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Products added to application</h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        {% if data['add'] == "1" %}
        <p class="govuk-body">3 products</p>
        <table class="govuk-table products-table govuk-!-margin-bottom-4">
            <caption class="govuk-table__caption hidden">Description, part number and control rating</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Description</th>
                    <th scope="col" class="govuk-table__header">Part number</th>
                    <th scope="col" class="govuk-table__header">Control rating</th>
                    <th scope="col" class="govuk-table__header">Value</th>
                    <th scope="col" class="govuk-table__header">Quantity</th>
                    <th scope="col" class="govuk-table__header">Measurement</th>
                    <th scope="col" class="govuk-table__header">Incorporated</th> 
                    <th scope="col" class="govuk-table__header">Actions</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Firearms designed for dummy ammunition</td>
                    <td class="govuk-table__cell">USZIPNMB76</td>
                    <td class="govuk-table__cell">ML1</td>
                    <td class="govuk-table__cell">£1,000.00</td>
                    <td class="govuk-table__cell">1</td>
                    <td class="govuk-table__cell">Grams</td>
                    <td class="govuk-table__cell">Yes</td>
                    <td class="govuk-table__cell"><a href="remove-product-application.html">Remove</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">AK47 2019/09/03 11:25:44:145119</td>
                    <td class="govuk-table__cell">321 2019/09/03 11:25:44:145119</td>
                    <td class="govuk-table__cell">1234</td>
                    <td class="govuk-table__cell">£254,000.00</td>
                    <td class="govuk-table__cell">6</td>
                    <td class="govuk-table__cell">Kilograms</td>
                    <td class="govuk-table__cell">Yes</td>
                    <td class="govuk-table__cell"><a href="remove-product-application.html">Remove</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">AK47 2019/09/03 11:25:44:145119</td>
                    <td class="govuk-table__cell">321 2019/09/03 11:25:44:145119</td>
                    <td class="govuk-table__cell">1234</td>
                    <td class="govuk-table__cell">£254,000.00</td>
                    <td class="govuk-table__cell">6</td>
                    <td class="govuk-table__cell">Kilograms</td>
                    <td class="govuk-table__cell">Yes</td>
                    <td class="govuk-table__cell"><a href="remove-product-application.html">Remove</a></td>
                </tr>
            </tbody>
        </table>

        {% else %}
        <p class="govuk-body">2 products</p>
        <table class="govuk-table products-table govuk-!-margin-bottom-4">
            <caption class="govuk-table__caption hidden">Description, part number and control rating</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Description</th>
                    <th scope="col" class="govuk-table__header">Part number</th>
                    <th scope="col" class="govuk-table__header">Control rating</th>
                    <th scope="col" class="govuk-table__header">Value</th>
                    <th scope="col" class="govuk-table__header">Quantity</th>
                    <th scope="col" class="govuk-table__header">Measurement</th>
                    <th scope="col" class="govuk-table__header">Incorporated</th> 
                    <th scope="col" class="govuk-table__header">Actions</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">AK47 2019/09/03 11:25:44:145119</td>
                    <td class="govuk-table__cell">321 2019/09/03 11:25:44:145119</td>
                    <td class="govuk-table__cell">1234</td>
                    <td class="govuk-table__cell">£254,000.00</td>
                    <td class="govuk-table__cell">6</td>
                    <td class="govuk-table__cell">Kilograms</td>
                    <td class="govuk-table__cell">Yes</td>
                    <td class="govuk-table__cell"><a href="remove-product-application.html">Remove</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">AK47 2019/09/03 11:25:44:145119</td>
                    <td class="govuk-table__cell">321 2019/09/03 11:25:44:145119</td>
                    <td class="govuk-table__cell">1234</td>
                    <td class="govuk-table__cell">£254,000.00</td>
                    <td class="govuk-table__cell">6</td>
                    <td class="govuk-table__cell">Kilograms</td>
                    <td class="govuk-table__cell">Yes</td>
                    <td class="govuk-table__cell"><a href="remove-product-application.html">Remove</a></td>
                </tr>
            </tbody>
        </table>

        <!-- Original table which works on it's own
        <p class="govuk-body">3 products</p>
		<table class="govuk-table products-table govuk-!-margin-bottom-4">
            <caption class="govuk-table__caption hidden">Description, part number and control rating</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Description</th>
                    <th scope="col" class="govuk-table__header">Part number</th>
                    <th scope="col" class="govuk-table__header">Control rating</th>
                    <th scope="col" class="govuk-table__header">Value</th>
                    <th scope="col" class="govuk-table__header">Quantity</th>
                    <th scope="col" class="govuk-table__header">Measurement</th>
                    <th scope="col" class="govuk-table__header">Incorporated</th> 
                    <th scope="col" class="govuk-table__header">Actions</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Firearms designed for dummy ammunition</td>
                    <td class="govuk-table__cell">USZIPNMB76</td>
                    <td class="govuk-table__cell">ML1</td>
                    
                    {% if data['value-products'] %}
                    <td class="govuk-table__cell">£{{ data['value-products'] }}</td>
                    {% else %}
                    <td class="govuk-table__cell">£1,000.00</td>
                    {% endif %}

                    {% if data['quantity'] %}
                    <td class="govuk-table__cell">{{ data['quantity'] }}</td>
                    {% else %}
                    <td class="govuk-table__cell">1</td>
                    {% endif %}

                    {% if data['measurement'] %}
                    <td class="govuk-table__cell">{{ data['measurement'] }}</td>
                    {% else %}
                    <td class="govuk-table__cell">Number of articles</td>
                    {% endif %}

                    {% if data['end-product'] %}
                    <td class="govuk-table__cell">{{ data['end-product'] }}</td>
                    {% else %}
                    <td class="govuk-table__cell">Yes</td>
                    {% endif %}

                    <td class="govuk-table__cell"><a href="remove-product-application.html?add=1">Remove</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">AK47 2019/09/03 11:25:44:145119</td>
                    <td class="govuk-table__cell">321 2019/09/03 11:25:44:145119</td>
                    <td class="govuk-table__cell">1234</td>
                    
                    {% if data['value-products-2'] %}
                    <td class="govuk-table__cell">£{{ data['value-products-2'] }}</td>
                    {% else %}
                    <td class="govuk-table__cell">£254,000.00</td>
                    {% endif %}

                    {% if data['quantity-2'] %}
                    <td class="govuk-table__cell">{{ data['quantity-2'] }}</td>
                    {% else %}
                    <td class="govuk-table__cell">6</td>
                    {% endif %}

                    {% if data['measurement-2'] %}
                    <td class="govuk-table__cell">{{ data['measurement-2'] }}</td>
                    {% else %}
                    <td class="govuk-table__cell">Kilograms</td>
                    {% endif %}

                    {% if data['end-product-2'] %}
                    <td class="govuk-table__cell">{{ data['end-product-2'] }}</td>
                    {% else %}
                    <td class="govuk-table__cell">Yes</td>
                    {% endif %}

                    <td class="govuk-table__cell"><a href="remove-product-application.html?add=2">Remove</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Firearms designed for dummy ammunition</td>
                    <td class="govuk-table__cell">USZIPNMB76</td>
                    <td class="govuk-table__cell">ML1</td>
                    <td class="govuk-table__cell">£37,500.00</td>
                    <td class="govuk-table__cell">2</td>
                    <td class="govuk-table__cell">Number of articles</td>
                    <td class="govuk-table__cell">No</td>
                    <td class="govuk-table__cell"><a href="remove-product-application.html?add=3">Remove</a></td>
                </tr>
            </tbody>
        </table>  -->
        {% endif %}
    
        <p class="govuk-body govuk-!-margin-bottom-7"><a href="all-products.html">Add another product to application</a></p>
        <a class="govuk-button">Save and continue</a>
        <p class="govuk-body"><a href="#">Finish later</a></p>
    </div>
</div>
{% endblock %}
