
{% extends "layout-exporter.html" %}

{% block pageTitle %}Products (72 added) - Exporter service name - GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <!-- <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Products added to application</h1> -->
        <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Products (72 added)</h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <!-- <p class="govuk-body">72 products</p> -->
        <table class="govuk-table products-table govuk-!-margin-bottom-4">
            <caption class="govuk-table__caption hidden">Description, part number and control rating</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Description</th>
                    <th scope="col" class="govuk-table__header">Part number</th>
                    <th scope="col" class="govuk-table__header">Control rating</th>
                    <th scope="col" class="govuk-table__header">Value</th>
                    <th scope="col" class="govuk-table__header">Quantity</th>
                    <th scope="col" class="govuk-table__header">Measurement</th>
                    <th scope="col" class="govuk-table__header">Incorporated</th> 
                    <th scope="col" class="govuk-table__header">Actions</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Firearms designed for dummy ammunition</td>
                    <td class="govuk-table__cell">USZIPNMB76</td>
                    <td class="govuk-table__cell">ML1</td>
                    <td class="govuk-table__cell">£1,000.00</td>
                    <td class="govuk-table__cell">1</td>
                    <td class="govuk-table__cell">Grams</td>
                    <td class="govuk-table__cell">Yes</td>
                    <td class="govuk-table__cell"><a href="#">Remove</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">AK47 2019/09/03 11:25:44:145119</td>
                    <td class="govuk-table__cell">321 2019/09/03 11:25:44:145119</td>
                    <td class="govuk-table__cell">1234</td>
                    <td class="govuk-table__cell">£254,000.00</td>
                    <td class="govuk-table__cell">6</td>
                    <td class="govuk-table__cell">Kilograms</td>
                    <td class="govuk-table__cell">Yes</td>
                    <td class="govuk-table__cell"><a href="#">Remove</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">AK47 2019/09/03 11:25:44:145119</td>
                    <td class="govuk-table__cell">321 2019/09/03 11:25:44:145119</td>
                    <td class="govuk-table__cell">1234</td>
                    <td class="govuk-table__cell">£254,000.00</td>
                    <td class="govuk-table__cell">6</td>
                    <td class="govuk-table__cell">Kilograms</td>
                    <td class="govuk-table__cell">Yes</td>
                    <td class="govuk-table__cell"><a href="#">Remove</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">adc</td>
                    <td class="govuk-table__cell">vv</td>
                    <td class="govuk-table__cell">vw</td>
                    <td class="govuk-table__cell">£15,000.00</td>
                    <td class="govuk-table__cell">3</td>
                    <td class="govuk-table__cell">Litres</td>
                    <td class="govuk-table__cell">No</td>
                    <td class="govuk-table__cell"><a href="#">Remove</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Firearms designed for dummy ammunition</td>
                    <td class="govuk-table__cell">USZIPNMB76</td>
                    <td class="govuk-table__cell">ML1</td>
                    <td class="govuk-table__cell">£1,000.00</td>
                    <td class="govuk-table__cell">1</td>
                    <td class="govuk-table__cell">Grams</td>
                    <td class="govuk-table__cell">Yes</td>
                    <td class="govuk-table__cell"><a href="#">Remove</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">AK47 2019/09/03 11:25:44:145119</td>
                    <td class="govuk-table__cell">321 2019/09/03 11:25:44:145119</td>
                    <td class="govuk-table__cell">1234</td>
                    <td class="govuk-table__cell">£254,000.00</td>
                    <td class="govuk-table__cell">6</td>
                    <td class="govuk-table__cell">Kilograms</td>
                    <td class="govuk-table__cell">Yes</td>
                    <td class="govuk-table__cell"><a href="#">Remove</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">AK47 2019/09/03 11:25:44:145119</td>
                    <td class="govuk-table__cell">321 2019/09/03 11:25:44:145119</td>
                    <td class="govuk-table__cell">1234</td>
                    <td class="govuk-table__cell">£254,000.00</td>
                    <td class="govuk-table__cell">6</td>
                    <td class="govuk-table__cell">Kilograms</td>
                    <td class="govuk-table__cell">Yes</td>
                    <td class="govuk-table__cell"><a href="#">Remove</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">adc</td>
                    <td class="govuk-table__cell">vv</td>
                    <td class="govuk-table__cell">vw</td>
                    <td class="govuk-table__cell">£15,000.00</td>
                    <td class="govuk-table__cell">3</td>
                    <td class="govuk-table__cell">Litres</td>
                    <td class="govuk-table__cell">No</td>
                    <td class="govuk-table__cell"><a href="#">Remove</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">AK47 2019/09/03 11:25:44:145119</td>
                    <td class="govuk-table__cell">321 2019/09/03 11:25:44:145119</td>
                    <td class="govuk-table__cell">1234</td>
                    <td class="govuk-table__cell">£254,000.00</td>
                    <td class="govuk-table__cell">6</td>
                    <td class="govuk-table__cell">Kilograms</td>
                    <td class="govuk-table__cell">Yes</td>
                    <td class="govuk-table__cell"><a href="#">Remove</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">AK47 2019/09/03 11:25:44:145119</td>
                    <td class="govuk-table__cell">321 2019/09/03 11:25:44:145119</td>
                    <td class="govuk-table__cell">1234</td>
                    <td class="govuk-table__cell">£254,000.00</td>
                    <td class="govuk-table__cell">6</td>
                    <td class="govuk-table__cell">Kilograms</td>
                    <td class="govuk-table__cell">Yes</td>
                    <td class="govuk-table__cell"><a href="#">Remove</a></td>
                </tr>
            </tbody>
        </table>
        <div class="pagination">
            <div class="pager-summary govuk-body">Showing <strong>11</strong> &ndash; <strong>20</strong> of <strong>72</strong> products</div>
            <ul class="pager-items govuk-body">
                <li><a href="#">Prev</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
                <li><a href="#">Next</a></li>
            </ul>
        </div>
        <p class="govuk-body govuk-!-margin-bottom-7 clearfix"><a href="all-products-application.html">Add another product to application</a></p>
        <a class="govuk-button">Save and continue</a>
    </div>
</div>
{% endblock %}
