
{% extends "layout-exporter.html" %}

{% block pageTitle %}Products added to application - Exporter service name - GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Products added to application</h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <p class="govuk-body">There are no products added to this application.</p>
        <p class="govuk-body govuk-!-margin-bottom-7"><a href="all-products-application.html">Add a product to application</a></p>
        <a class="govuk-button">Save and continue</a>
        <!-- <p class="govuk-body"><a href="#">Finish later</a></p> -->
    </div>
</div>
{% endblock %}
