
{% extends "layout-exporter.html" %}

{% block pageTitle %}{{ data['product-name'] }} - Exporter service name - GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-7 float-left">{{ data['product-name'] }}</h1>
        <div class="float-right">
            <a href="add-product.html"><button disabled="disabled" aria-disabled="true" class="govuk-button govuk-button--secondary govuk-button--disabled govuk-!-margin-right-1" data-module="govuk-button">Edit product</button></a>
            <a href="remove-product.html"><button disabled="disabled" aria-disabled="true" class="govuk-button govuk-button--secondary govuk-button--disabled" data-module="govuk-button">Remove product</button></a>
        </div>
    </div>
</div>
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <dl class="govuk-summary-list govuk-summary-list--no-border">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Used for</dt>
                <dd class="govuk-summary-list__value">{{ data['product-description'] }}</dd>
            </div>
            {% if data['product-controlled'] == "Yes" %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Control rating</dt>
                <dd class="govuk-summary-list__value">{{ data['control-rating'] }}</dd>
            </div>
            {% endif %}
            {% if data['part-number'] %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Part number</dt>
                <dd class="govuk-summary-list__value">{{ data['part-number'] }}</dd>
            </div>
            {% endif %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Document</dt>
                {% if data['file-upload'] %}
                <dd class="govuk-summary-list__value"><a class="govuk-link" href="#" target="_blank">{{ data['file-upload'] }}</a></dd>
                {% else %}
                <dd class="govuk-summary-list__value"><a class="govuk-link" href="#" target="_blank">prototype-document-uploaded.pdf</a></dd>
                {% endif %}
            </div>
            {% if data['document-description'] %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Type of document</dt>
                <dd class="govuk-summary-list__value">{{ data['document-description'] }}</dd>
            </div>
            {% endif %}
        </dl>
	</div>
</div>
{% endblock %}
