
{% extends "layout-exporter.html" %}

{% block pageTitle %}You have added 30 products - Exporter service name - GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">You have added 30 products</h1>
        <table class="govuk-table">
            <tbody class="govuk-table__body">
                <!-- 1-10 of 10 items -->
                <tr class="govuk-table__row"></tr>
                    <td class="govuk-table__cell">{{ data['product-name'] }}</td>
                    <td class="govuk-table__cell">£{{ data['value-products'] | formatNumber }}</td>
                    <td class="govuk-table__cell">{{ data['quantity'] }}</td>
                    {% if data['measurement'] === "Other" %}
                    <td class="govuk-table__cell">{{ data['other-measurement'] }}</td>
                    {% else %}
                    <td class="govuk-table__cell">{{ data['measurement'] }}</td>
                    {% endif %}
                    <td class="govuk-table__cell govuk-!-width-one-quarter"><a href="add-to-application.html">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="remove-product-application.html">Remove</a></td> 
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Nuclear Fuel Complex 1</td>
                    <td class="govuk-table__cell">£137,400.00</td>
                    <td class="govuk-table__cell">3</td>
                    <td class="govuk-table__cell">l</td>
                    <td class="govuk-table__cell"><a href="#">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Remove</a></td> 
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Nuclear Fuel Complex 1</td>
                    <td class="govuk-table__cell">£91,600.00</td>
                    <td class="govuk-table__cell">2</td>
                    <td class="govuk-table__cell">l</td>
                    <td class="govuk-table__cell"><a href="#">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Remove</a></td> 
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Nuclear Fuel Complex 1</td>
                    <td class="govuk-table__cell">£45,800.00</td>
                    <td class="govuk-table__cell">1</td>
                    <td class="govuk-table__cell">l</td>
                    <td class="govuk-table__cell"><a href="#">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Remove</a></td> 
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">MLD-TC87 two locks</td>
                    <td class="govuk-table__cell">£30,000.40</td>
                    <td class="govuk-table__cell">6</td>
                    <td class="govuk-table__cell">g</td>
                    <td class="govuk-table__cell"><a href="#">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Remove</a></td> 
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">MLD-TC87 two locks</td>
                    <td class="govuk-table__cell">£15,000.20</td>
                    <td class="govuk-table__cell">3</td>
                    <td class="govuk-table__cell">g</td>
                    <td class="govuk-table__cell"><a href="#">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Remove</a></td> 
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Boston Dynamics Spot droid 67-D1</td>
                    <td class="govuk-table__cell">£312,900.00</td>
                    <td class="govuk-table__cell">20</td>
                    <td class="govuk-table__cell">kg</td>
                    <td class="govuk-table__cell"><a href="#">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Remove</a></td> 
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Nuclear Fuel Complex 2</td>
                    <td class="govuk-table__cell">£10,500.00</td>
                    <td class="govuk-table__cell">2,000</td>
                    <td class="govuk-table__cell">m</td>
                    <td class="govuk-table__cell"><a href="#">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Remove</a></td> 
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Lockheed AC-130</td>
                    <td class="govuk-table__cell">£56,780.00</td>
                    <td class="govuk-table__cell">20</td>
                    <td class="govuk-table__cell">pieces</td>
                    <td class="govuk-table__cell"><a href="#">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Remove</a></td> 
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Boston Dynamics Spot droid 67-D2</td>
                    <td class="govuk-table__cell">£680,080.00</td>
                    <td class="govuk-table__cell">1</td>
                    <td class="govuk-table__cell">pieces</td>
                    <td class="govuk-table__cell"><a href="#">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Remove</a></td> 
                </tr>
                <!-- 11-20 of 10 items -->
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Nuclear Fuel Complex 4</td>
                    <td class="govuk-table__cell">£137,400.00</td>
                    <td class="govuk-table__cell">3</td>
                    <td class="govuk-table__cell">l</td>
                    <td class="govuk-table__cell"><a href="#">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Remove</a></td> 
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Nuclear Fuel Complex 2</td>
                    <td class="govuk-table__cell">£137,400.00</td>
                    <td class="govuk-table__cell">3</td>
                    <td class="govuk-table__cell">l</td>
                    <td class="govuk-table__cell"><a href="#">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Remove</a></td> 
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Nuclear Fuel Complex 2</td>
                    <td class="govuk-table__cell">£91,600.00</td>
                    <td class="govuk-table__cell">2</td>
                    <td class="govuk-table__cell">l</td>
                    <td class="govuk-table__cell"><a href="#">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Remove</a></td> 
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Nuclear Fuel Complex 1</td>
                    <td class="govuk-table__cell">£45,800.00</td>
                    <td class="govuk-table__cell">1</td>
                    <td class="govuk-table__cell">l</td>
                    <td class="govuk-table__cell"><a href="#">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Remove</a></td> 
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">MLD-TC87 two locks</td>
                    <td class="govuk-table__cell">£30,000.40</td>
                    <td class="govuk-table__cell">6</td>
                    <td class="govuk-table__cell">g</td>
                    <td class="govuk-table__cell"><a href="#">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Remove</a></td> 
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">MLD-TC87 two locks</td>
                    <td class="govuk-table__cell">£15,000.20</td>
                    <td class="govuk-table__cell">3</td>
                    <td class="govuk-table__cell">g</td>
                    <td class="govuk-table__cell"><a href="#">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Remove</a></td> 
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Boston Dynamics Spot droid 67-D1</td>
                    <td class="govuk-table__cell">£312,900.00</td>
                    <td class="govuk-table__cell">20</td>
                    <td class="govuk-table__cell">kg</td>
                    <td class="govuk-table__cell"><a href="#">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Remove</a></td> 
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Nuclear Fuel Complex 2</td>
                    <td class="govuk-table__cell">£10,500.00</td>
                    <td class="govuk-table__cell">2,000</td>
                    <td class="govuk-table__cell">m</td>
                    <td class="govuk-table__cell"><a href="#">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Remove</a></td> 
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Lockheed AC-130</td>
                    <td class="govuk-table__cell">£56,780.00</td>
                    <td class="govuk-table__cell">20</td>
                    <td class="govuk-table__cell">pieces</td>
                    <td class="govuk-table__cell"><a href="#">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Remove</a></td> 
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Boston Dynamics Spot droid 67-D2</td>
                    <td class="govuk-table__cell">£680,080.00</td>
                    <td class="govuk-table__cell">1</td>
                    <td class="govuk-table__cell">pieces</td>
                    <td class="govuk-table__cell"><a href="#">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Remove</a></td> 
                </tr>
                <!-- 21-30 of 10 items -->
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Nuclear Fuel Complex 4</td>
                    <td class="govuk-table__cell">£137,400.00</td>
                    <td class="govuk-table__cell">3</td>
                    <td class="govuk-table__cell">l</td>
                    <td class="govuk-table__cell"><a href="#">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Remove</a></td> 
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Nuclear Fuel Complex 2</td>
                    <td class="govuk-table__cell">£137,400.00</td>
                    <td class="govuk-table__cell">3</td>
                    <td class="govuk-table__cell">l</td>
                    <td class="govuk-table__cell"><a href="#">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Remove</a></td> 
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Nuclear Fuel Complex 2</td>
                    <td class="govuk-table__cell">£91,600.00</td>
                    <td class="govuk-table__cell">2</td>
                    <td class="govuk-table__cell">l</td>
                    <td class="govuk-table__cell"><a href="#">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Remove</a></td> 
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Nuclear Fuel Complex 1</td>
                    <td class="govuk-table__cell">£45,800.00</td>
                    <td class="govuk-table__cell">1</td>
                    <td class="govuk-table__cell">l</td>
                    <td class="govuk-table__cell"><a href="#">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Remove</a></td> 
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">MLD-TC87 two locks</td>
                    <td class="govuk-table__cell">£30,000.40</td>
                    <td class="govuk-table__cell">6</td>
                    <td class="govuk-table__cell">g</td>
                    <td class="govuk-table__cell"><a href="#">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Remove</a></td> 
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">MLD-TC87 two locks</td>
                    <td class="govuk-table__cell">£15,000.20</td>
                    <td class="govuk-table__cell">3</td>
                    <td class="govuk-table__cell">g</td>
                    <td class="govuk-table__cell"><a href="#">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Remove</a></td> 
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Boston Dynamics Spot droid 67-D1</td>
                    <td class="govuk-table__cell">£312,900.00</td>
                    <td class="govuk-table__cell">20</td>
                    <td class="govuk-table__cell">kg</td>
                    <td class="govuk-table__cell"><a href="#">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Remove</a></td> 
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Nuclear Fuel Complex 2</td>
                    <td class="govuk-table__cell">£10,500.00</td>
                    <td class="govuk-table__cell">2,000</td>
                    <td class="govuk-table__cell">m</td>
                    <td class="govuk-table__cell"><a href="#">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Remove</a></td> 
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Lockheed AC-130</td>
                    <td class="govuk-table__cell">£56,780.00</td>
                    <td class="govuk-table__cell">20</td>
                    <td class="govuk-table__cell">pieces</td>
                    <td class="govuk-table__cell"><a href="#">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Remove</a></td> 
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Boston Dynamics Spot droid 67-D2</td>
                    <td class="govuk-table__cell">£680,080.00</td>
                    <td class="govuk-table__cell">1</td>
                    <td class="govuk-table__cell">pieces</td>
                    <td class="govuk-table__cell"><a href="#">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Remove</a></td> 
                </tr>
            </tbody>
        </table> 
        <form action="all-products-application" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading">Add another product to application?</h2>
                    </legend>
                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="product-add-yes" name="product-add-application" type="radio" value="true">
                            <label class="govuk-label govuk-radios__label" for="product-add-yes">Yes</label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="product-add-no" name="product-add-application" type="radio" value="false">
                            <label class="govuk-label govuk-radios__label" for="product-add-no">No</label>
                        </div>	
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
        </form>
	</div>
</div>
{% endblock %}
