
{% extends "layout-exporter.html" %}

{% block pageTitle %}{{ data['product-name'] }} - Exporter service name - GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-7">{{ data['product-name'] }}</h1>
        <dl class="govuk-summary-list govuk-summary-list--no-border">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Used for</dt>
                <dd class="govuk-summary-list__value">{{ data['product-description'] }}</dd>
            </div>
            {% if data['product-controlled'] == "Yes" %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Control rating</dt>
                <dd class="govuk-summary-list__value">{{ data['control-rating'] }}</dd>
            </div>
            {% endif %}
            {% if data['part-number'] %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Part number</dt>
                <dd class="govuk-summary-list__value">{{ data['part-number'] }}</dd>
            </div>
            {% endif %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Document</dt>
                {% if data['file-upload'] %}
                <dd class="govuk-summary-list__value"><a class="govuk-link" href="/public/pdfs/prototype-document-uploaded.pdf" target="_blank">{{ data['file-upload'] }}</a></dd>
                {% else %}
                <dd class="govuk-summary-list__value"><a class="govuk-link" href="/public/pdfs/prototype-document-uploaded.pdf" target="_blank">prototype-document-uploaded.pdf</a></dd>
                {% endif %}
            </div>
            {% if data['document-description'] %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Type of document</dt>
                <dd class="govuk-summary-list__value">{{ data['document-description'] }}</dd>
            </div>
            {% endif %}
        </dl>
        <div class="govuk-inset-text govuk-!-margin-bottom-9">This product is currently being reviewed by ECJU, but you can add notes about your product or send a query to ECJU.</div>
        <div class="govuk-tabs govuk-!-margin-bottom-0" data-module="govuk-tabs">
            <h2 class="govuk-tabs__title">Contents</h2>
            <ul class="govuk-tabs__list">
                <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                    <a class="govuk-tabs__tab" href="#notes">Notes</a>
                </li>
                <li class="govuk-tabs__list-item">
                    <a class="govuk-tabs__tab" href="#ecju-queries">ECJU queries</a>
                </li>
            </ul>
            <section class="govuk-tabs__panel border-less-tabs" id="notes">
                <form action="#" method="post">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--m" for="product-notes">Is there anything else you want to say about this product?</label>
                        <textarea class="govuk-textarea" id="product-notes" name="product-notes" rows="5" aria-describedby="product-notes-hint">{{ data['product-notes'] }}</textarea>
                    </div>	
                    <button class="govuk-button" data-module="govuk-button">Send comment</button>
                </form>
            </section>
            <section class="govuk-tabs__panel border-less-tabs govuk-tabs__panel--hidden" id="ecju-queries">
                <p class="govuk-body">No messages.</p>
            </section>
        </div>
    </div>
</div>
{% endblock %}
