
{% extends "layout-exporter.html" %}

{% block pageTitle %}You have added 7 products - Exporter service name - GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<!-- <div class="govuk-grid-column-two-thirds"> -->
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">You have added 7 products</h1>
        <!-- <h1 class="govuk-heading-l">Products added</h1> -->
        <table class="govuk-table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <!-- <td class="govuk-table__cell govuk-!-font-weight-bold">Product 1</td> -->

                    {% if data['product-description'] %}
                    <td class="govuk-table__cell">{{ data['product-description'] }}</td>
                    {% else %}
                    <td class="govuk-table__cell">Firearms designed for dummy ammunition</td>
                    {% endif %}

                    {% if data['part-number'] %}
                    <td class="govuk-table__cell">{{ data['part-number'] }}</td>
                    {% else %}
                    <td class="govuk-table__cell">USZIPNMB76</td>
                    {% endif %}

                    {% if data['control-rating'] %}
                    <td class="govuk-table__cell">{{ data['control-rating'] }}</td>
                    {% else %}
                    <td class="govuk-table__cell">ML1</td>
                    {% endif %}

                    <td class="govuk-table__cell"><a href="add-product.html">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="remove-product.html">Remove</a></td> 

                    <!-- <td class="govuk-table__cell"><a href="add-product.html">View/Change</a></td> -->
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">AK47 2019/09/03 11:25:44:145119</td>
                    <td class="govuk-table__cell">321 2019/09/03 11:25:44:145119</td>
                    <td class="govuk-table__cell">1234</td>
                    <td class="govuk-table__cell"><a href="#">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Remove</a></td> 
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">adc</td>
                    <td class="govuk-table__cell">vv</td>
                    <td class="govuk-table__cell">vw</td>
                    <td class="govuk-table__cell"><a href="#">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Remove</a></td> 
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">adc</td>
                    <td class="govuk-table__cell">N/A</td>
                    <td class="govuk-table__cell">vw</td>
                    <td class="govuk-table__cell"><a href="#">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Remove</a></td> 
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">adc</td>
                    <td class="govuk-table__cell">vv</td>
                    <td class="govuk-table__cell">vw</td>
                    <td class="govuk-table__cell"><a href="#">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Remove</a></td> 
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">adc</td>
                    <td class="govuk-table__cell">vv</td>
                    <td class="govuk-table__cell">vw</td>
                    <td class="govuk-table__cell"><a href="#">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Remove</a></td> 
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Firearms designed for dummy ammunition</td>
                    <td class="govuk-table__cell">USZIPNMB76</td>
                    <td class="govuk-table__cell">ML1</td>
                    <td class="govuk-table__cell"><a href="#">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Remove</a></td> 
                </tr>
            </tbody>
        </table> 
        <form action="all-products" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading">Add another product?</h2>
                    </legend>
                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="product-add-yes" name="product-add" type="radio" value="true">
                            <label class="govuk-label govuk-radios__label" for="product-add-yes">Yes</label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="product-add-no" name="product-add" type="radio" value="false">
                            <label class="govuk-label govuk-radios__label" for="product-add-no">No</label>
                        </div>	
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="govuk-button" data-module="govuk-button">Save and continue</button>
        </form>
	</div>
</div>
{% endblock %}
