
{% extends "layout-exporter.html" %}

{% block pageTitle %}Remove product from application? - Exporter service name - GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Remove product from application?</h1>
        <dl class="govuk-summary-list govuk-summary-list--no-border">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Description</dt>
                <dd class="govuk-summary-list__value">{{ data['product-description'] }}</dd>
            </div>
            {% if data['product-controlled'] == "Yes" %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Control rating</dt>
                <dd class="govuk-summary-list__value">{{ data['control-rating'] }}</dd>
            </div>
            {% endif %}
            {% if data['part-number'] == "Yes" %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Part number</dt>
                <dd class="govuk-summary-list__value">{{ data['the-part-number'] }}</dd>
            </div>
            {% endif %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Value</dt>
                {% if data['value-products'] %}
                <dd class="govuk-summary-list__value">£{{ data['value-products'] | formatNumber }}</dd>
                {% else %}
                <dd class="govuk-summary-list__value">£1,000.00</dd>
                {% endif %}
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Quantity</dt>
                {% if data['quantity'] %}
                <dd class="govuk-summary-list__value">{{ data['quantity'] }}</dd>
                {% else %}
                <dd class="govuk-summary-list__value">1</dd>
                {% endif %}
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Measurement</dt>
                {% if data['measurement'] %}
                <dd class="govuk-summary-list__value">{{ data['measurement'] }}</dd>
                {% else %}
                <dd class="govuk-summary-list__value">Number of articles</dd>
                {% endif %}
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Incorporated</dt>
                {% if data['end-product'] %}
                <dd class="govuk-summary-list__value">{{ data['end-product'] }}</dd>
                {% else %}
                <dd class="govuk-summary-list__value">Yes</dd>
                {% endif %}
            </div>
        </dl>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <form action="list-of-products-application" method="post">
            <input type="hidden" name="removed" value="true">
            <button type="submit" class="govuk-button" data-module="govuk-button">Yes, remove product</button>
        </form>
        <p class="govuk-body"><a href="javascript:window.history.back()">No, do not remove product</a></p>
	</div>
</div>
{% endblock %}
