
{% extends "layout-exporter.html" %}

{% block pageTitle %}Product added to application - Exporter service name - GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Product added to application</h1>
        <div class="govuk-inset-text">
            <p class="govuk-body">This product has been added to your application and can no longer be edited.</p>
        </div>
        <dl class="govuk-summary-list govuk-summary-list--no-border">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Description</dt>
                <dd class="govuk-summary-list__value">{{ data['product-description'] }}</dd>
                <dd class="govuk-summary-list__actions">&nbsp;</dd>
            </div>
            {% if data['product-controlled'] == "Yes" %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Control rating</dt>
                <dd class="govuk-summary-list__value">{{ data['control-rating'] }}</dd>
                <dd class="govuk-summary-list__actions">&nbsp;</dd>
            </div>
            {% endif %}
            {% if data['part-number'] == "Yes" %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Part number</dt>
                <dd class="govuk-summary-list__value">{{ data['the-part-number'] }}</dd>
                <dd class="govuk-summary-list__actions">&nbsp;</dd>
            </div>
            {% endif %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Specification</dt>
                {% if data['file-upload'] %}
                <dd class="govuk-summary-list__value">{{ data['file-upload'] }}</dd>
                {% else %}
                <dd class="govuk-summary-list__value">prototype-document-uploaded.pdf</dd>
                {% endif %}
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Download<span class="govuk-visually-hidden"> specification document</span></a>
                </dd>
            </div>
            {% if data['document-description'] %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Type of document</dt>
                <dd class="govuk-summary-list__value">{{ data['document-description'] }}</dd>
                <dd class="govuk-summary-list__actions">&nbsp;</dd>
            </div>
            {% endif %}
        </dl>
	</div>
</div>
{% endblock %}
