
{% extends "layout-exporter.html" %} 

{% block pageTitle %}Add a new location - Exporter service name - GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <form action="location-added" method="post">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-4">Add a new location</h1>
                </legend>
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--m govuk-!-margin-bottom-1" for="location-name">Name of location</label>
                    <span class="govuk-hint">Use a unique location name so you can recognise this in a big list of similar locations.</span>
                    <input class="govuk-input govuk-!-width-full" id="location-name" name="location-name" type="text" value="{{ data['location-name'] }}">
                </div>
                <!-- <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--m" for="location-description">What does your location do?</label>
                    <textarea class="govuk-textarea" id="location-description" name="location-description" rows="5" aria-describedby="location-description-hint">{{ data['location-description'] }}</textarea>
                </div> -->	
                <p class="govuk-body govuk-!-margin-bottom-1 govuk-label--m">Where is the location?</p>
                <div class="govuk-form-group">
                    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="in-uk-conditional" name="location-where" type="radio" value="In the UK" {{ checked("location-where", "In the UK") }} data-aria-controls="conditional-in-uk-conditional">
                            <label class="govuk-label govuk-radios__label" for="in-uk-conditional">In the UK</label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-in-uk-conditional">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="address-line-1">Building and street 	<span class="govuk-visually-hidden">line 1 of 2</span>
                                </label>
                                <input class="govuk-input" id="address-line-1" name="address-line-1" type="text">
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="address-line-2">
                                    <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
                                </label>
                                <input class="govuk-input" id="address-line-2" name="address-line-2" type="text">
                            </div>		
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="address-town">Town or city</label>
                                <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text">
                            </div>	
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="address-county">County</label>
                                <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="address-county" type="text">
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="address-postcode">Postcode</label>
                                <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text">
                            </div>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="outside-uk-conditional" name="location-where" type="radio" value="Outside the UK" {{ checked("location-where", "Outside the UK") }} data-aria-controls="conditional-outside-uk-conditional">
                            <label class="govuk-label govuk-radios__label" for="outside-uk-conditional">Outside the UK</label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-outside-uk-conditional">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="non-uk-address">Enter non-UK address</label>
                                <textarea class="govuk-textarea" id="non-uk-address" name="non-uk-address" rows="5" aria-describedby="non-uk-address-hint">{{ data['non-uk-address'] }}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <button type="submit" class="govuk-button" data-module="govuk-button">Save and continue</button>
        </form>
	</div>
</div>
{% endblock %}
