
{% extends "layout-exporter.html" %}

{% block pageTitle %}ABC Exporters - Exporter service name - GOV.UK{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
		<h1 class="govuk-heading-l govuk-!-margin-bottom-7">ABC Exporters Ltd</h1>
        <!-- <span class="govuk-caption-l govuk-!-margin-bottom-7">Account number: XXX-XXX-XXX</span> -->
        
        <a href="apply/task-list.html" class="govuk-button">Apply for an export licence</a>
        <h2 class="govuk-heading-m govuk-!-margin-top-4 govuk-!-margin-bottom-2">Applications</h2>
        <hr class="govuk-section-break govuk-section-break--visible thick-blue-border govuk-!-margin-bottom-6">
        <div class="govuk-tabs govuk-!-margin-bottom-7" data-module="govuk-tabs">
            <h2 class="govuk-tabs__title">Contents</h2>
            <ul class="govuk-tabs__list">
                <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                    <a class="govuk-tabs__tab no-underline" href="#completed">Completed&nbsp;&nbsp;&nbsp;<span class="small-banner-double">22</span></a>
                </li>
                <li class="govuk-tabs__list-item">
                    <a class="govuk-tabs__tab no-underline" href="#in-progress">In progress&nbsp;&nbsp;&nbsp;<span class="small-banner">6</span></a>
                </li>
                <li class="govuk-tabs__list-item">
                    <a class="govuk-tabs__tab no-underline" href="#drafts">Drafts&nbsp;&nbsp;&nbsp;<span class="small-banner-double">10</span></a>
                </li>
            </ul>
            <section class="govuk-tabs__panel border-less-tabs" id="completed">
                <!-- <h3 class="govuk-heading-s govuk-!-margin-bottom-4">TBC</h3> -->
                <table class="govuk-table govuk-!-margin-bottom-4">
                    <caption class="govuk-table__caption hidden">TBC</caption>
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Name</th>
                            <th scope="col" class="govuk-table__header">Reference</th>
                            <th scope="col" class="govuk-table__header">Last updated</th>
                            <th scope="col" class="govuk-table__header">Status</th>
                            <th scope="col" class="govuk-table__header">Action</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">text</td>
                            <td class="govuk-table__cell">text</td>
                            <td class="govuk-table__cell">text</td>
                            <td class="govuk-table__cell">Approved</td>
                            <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">View</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">text</td>
                            <td class="govuk-table__cell">text</td>
                            <td class="govuk-table__cell">text</td>
                            <td class="govuk-table__cell">Approved</td>
                            <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">View</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">text</td>
                            <td class="govuk-table__cell">text</td>
                            <td class="govuk-table__cell">text</td>
                            <td class="govuk-table__cell">Approved</td>
                            <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">View</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">text</td>
                            <td class="govuk-table__cell">text</td>
                            <td class="govuk-table__cell">text</td>
                            <td class="govuk-table__cell">Rejected</td>
                            <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">View</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">text</td>
                            <td class="govuk-table__cell">text</td>
                            <td class="govuk-table__cell">text</td>
                            <td class="govuk-table__cell">Approved</td>
                            <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">View</a></td>
                        </tr>
                    </tbody>
                </table>
                <p class="govuk-body"><a href="#" class="govuk-link govuk-link--no-visited-state">View all completed applications</a></p>
            </section>
            <section class="govuk-tabs__panel border-less-tabs govuk-tabs__panel--hidden" id="in-progress">
                <!-- <h3 class="govuk-heading-s govuk-!-margin-bottom-4">TBC</h3> -->
                <table class="govuk-table govuk-!-margin-bottom-4">
                    <caption class="govuk-table__caption hidden">TBC</caption>
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Title</th>
                            <th scope="col" class="govuk-table__header">Title</th>
                            <th scope="col" class="govuk-table__header">Title</th>
                            <th scope="col" class="govuk-table__header">Status</th>
                            <th scope="col" class="govuk-table__header">Action</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">text</td>
                            <td class="govuk-table__cell">text</td>
                            <td class="govuk-table__cell">text</td>
                            <td class="govuk-table__cell">Approved</td>
                            <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">View</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">text</td>
                            <td class="govuk-table__cell">text</td>
                            <td class="govuk-table__cell">text</td>
                            <td class="govuk-table__cell">Approved</td>
                            <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">View</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">text</td>
                            <td class="govuk-table__cell">text</td>
                            <td class="govuk-table__cell">text</td>
                            <td class="govuk-table__cell">Approved</td>
                            <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">View</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">text</td>
                            <td class="govuk-table__cell">text</td>
                            <td class="govuk-table__cell">text</td>
                            <td class="govuk-table__cell">Rejected</td>
                            <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">View</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">text</td>
                            <td class="govuk-table__cell">text</td>
                            <td class="govuk-table__cell">text</td>
                            <td class="govuk-table__cell">Approved</td>
                            <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">View</a></td>
                        </tr>
                    </tbody>
                </table>
                <p class="govuk-body"><a href="#" class="govuk-link govuk-link--no-visited-state">View all in progress applications</a></p>
            </section>
            <section class="govuk-tabs__panel border-less-tabs govuk-tabs__panel--hidden" id="drafts">
                <!-- <h3 class="govuk-heading-s govuk-!-margin-bottom-4">TBC</h3> -->
                <table class="govuk-table govuk-!-margin-bottom-4">
                    <caption class="govuk-table__caption hidden">TBC</caption>
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Name</th>
                            <th scope="col" class="govuk-table__header">Created on</th>
                            <th scope="col" class="govuk-table__header">Products</th>
                            <th scope="col" class="govuk-table__header">Licence type</th>
                            <th scope="col" class="govuk-table__header">Action</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <!-- <td class="govuk-table__cell">text<br /><span class="grey-text govuk-!-font-size-16">Standard Licence</span></td> -->
                            <td class="govuk-table__cell">text</td>
                            <td class="govuk-table__cell">2 October 2019</td>
                            <td class="govuk-table__cell">0</td>
                            <td class="govuk-table__cell">Standard</td>
                            <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">Delete</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">text</td>
                            <td class="govuk-table__cell">text</td>
                            <td class="govuk-table__cell">text</td>
                            <td class="govuk-table__cell">Open</td>
                            <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">Delete</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">text</td>
                            <td class="govuk-table__cell">text</td>
                            <td class="govuk-table__cell">text</td>
                            <td class="govuk-table__cell">Standard</td>
                            <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">Delete</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">text</td>
                            <td class="govuk-table__cell">text</td>
                            <td class="govuk-table__cell">text</td>
                            <td class="govuk-table__cell">Standard</td>
                            <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">Delete</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">text</td>
                            <td class="govuk-table__cell">text</td>
                            <td class="govuk-table__cell">text</td>
                            <td class="govuk-table__cell">Standard</td>
                            <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">Delete</a></td>
                        </tr>
                    </tbody>
                </table>
                <p class="govuk-body"><a href="#" class="govuk-link govuk-link--no-visited-state">View all draft applications</a></p>
            </section>
        </div>
      
        <!-- <h2 class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-2">Manage</h2>
        <hr class="govuk-section-break govuk-section-break--visible thick-blue-border govuk-!-margin-bottom-6">
        <div class="govuk-grid-row govuk-!-margin-bottom-7">
            <div class="govuk-grid-column-one-half">
                <div class="dashboard-panel">
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-4">Products</h3>
                    <ul class="govuk-list govuk-!-margin-bottom-0">
                        <li><a href="#" class="govuk-link govuk-link--no-visited-state">Add a new product</a></li>
                        <li><a href="#" class="govuk-link govuk-link--no-visited-state">Edit or remove a product</a></li>
                        <li><a href="#" class="govuk-link govuk-link--no-visited-state">View all products</a></li>
                    </ul>
                </div>
            </div>
            <div class="govuk-grid-column-one-half">
                <div class="dashboard-panel">
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-4">Sites</h3>
                    <ul class="govuk-list govuk-!-margin-bottom-0">
                        <li><a href="#" class="govuk-link govuk-link--no-visited-state">Add a new site</a></li>
                        <li><a href="#" class="govuk-link govuk-link--no-visited-state">Edit or remove a site</a></li>
                        <li><a href="#" class="govuk-link govuk-link--no-visited-state">View all sites</a></li>
                    </ul>
                </div>
            </div>
        </div> -->

        <div class="govuk-grid-row govuk-!-margin-bottom-7">
            <div class="govuk-grid-column-one-half">
                <h2 class="govuk-heading-m govuk-!-margin-top-4 govuk-!-margin-bottom-2">Products</h2>
                <hr class="govuk-section-break govuk-section-break--visible thick-blue-border govuk-!-margin-bottom-6">
                <ul class="govuk-list govuk-!-margin-bottom-0">
                    <li><a href="products/add-product" class="govuk-link govuk-link--no-visited-state">Add a new product</a></li>
                    <li><a href="products/all-products" class="govuk-link govuk-link--no-visited-state">View all products</a></li>
                </ul>
            </div>
            <div class="govuk-grid-column-one-half">
                <h2 class="govuk-heading-m govuk-!-margin-top-4 govuk-!-margin-bottom-2">Sites</h2>
                <hr class="govuk-section-break govuk-section-break--visible thick-blue-border govuk-!-margin-bottom-6">
                <ul class="govuk-list govuk-!-margin-bottom-0">
                    <li><a href="sites/add-site" class="govuk-link govuk-link--no-visited-state">Add a new site</a></li>
                    <li><a href="sites/all-sites" class="govuk-link govuk-link--no-visited-state">View all sites</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>
{% endblock %}
