
{% extends "layout.html" %}

{% block pageTitle %}Forgotten password - GOV.UK{% endblock %}

{% set serviceName %} {% endset%}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form action="check-email" method="post" novalidate>
			<fieldset class="govuk-fieldset">
				<legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
					<h1 class="govuk-fieldset__heading govuk-!-margin-bottom-4">Forgotten password</h1>
				</legend>
				<div class="govuk-form-group">
					<label class="govuk-label" for="email-address">Email address</label>
					<input class="govuk-input govuk-!-width-two-thirds" id="email-address" name="email-address" type="email">
				</div>
			</fieldset>
			<button type="submit" class="govuk-button" data-module="govuk-button">Send email</button>
		</form>
	</div>
</div>
{% endblock %}
