
{% extends "layout-exporter.html" %}

{% block pageTitle %}Remove site? - Exporter service name - GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Remove site?</h1>
        <dl class="govuk-summary-list govuk-summary-list--no-border">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Site name</dt>
                <dd class="govuk-summary-list__value">{{ data['site-name'] }}</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Used for</dt>
                <dd class="govuk-summary-list__value">{{ data['site-description'] }}</dd>
            </div>
            {% if data['site-controlled'] == "Yes" %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Control rating</dt>
                <dd class="govuk-summary-list__value">{{ data['control-rating'] }}</dd>
            </div>
            {% endif %}
            {% if data['part-number'] %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Part number</dt>
                <dd class="govuk-summary-list__value">{{ data['part-number'] }}</dd>
            </div>
            {% endif %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Document</dt>
                {% if data['file-upload'] %}
                <dd class="govuk-summary-list__value">{{ data['file-upload'] }}</dd>
                {% else %}
                <dd class="govuk-summary-list__value">prototype-document-uploaded.pdf</dd>
                {% endif %}
            </div>
            {% if data['document-description'] %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Type of document</dt>
                <dd class="govuk-summary-list__value">{{ data['document-description'] }}</dd>
            </div>
            {% endif %}
        </dl>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <form action="site-added-none" method="post">
            <button type="submit" class="govuk-button" data-module="govuk-button">Yes, remove site</button>
        </form>
        <p class="govuk-body"><a href="javascript:window.history.back()" class="govuk-link">No, do not remove site</a></p>
    </div>
</div>
{% endblock %}
