
{% extends "layout-exporter.html" %}

{% block pageTitle %}Apply for an export licence - Exporter service name - Sprint future - LITE Prototypes{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form action="check-your-answers" method="post">
			<h1 class="govuk-label-wrapper">
				<label class="govuk-label govuk-label--l govuk-!-margin-bottom-6" for="address-shipping">What address are you shipping your item or service from?</label>
			</h1>
			<div class="govuk-form-group">
				<span id="address-shipping-hint" class="govuk-hint">This address will appear on your licence and other export documentation. You can edit this later if you need to.</span>
				<textarea class="govuk-textarea" id="address-shipping" name="address-shipping" rows="5" aria-describedby="address-shipping-hint"></textarea>
			</div>	
			<button type="submit" class="govuk-button" data-module="govuk-button">Save and continue</button><br />
			<p><a href="task-list.html">Finish later</a></p>  
		</form>
	</div>
</div>
{% endblock %}
