
{% extends "layout-exporter.html" %}

{% block pageTitle %}Apply for an export licence - Exporter service name - GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l govuk-!-margin-bottom-7">Apply for an export licence</h1>
		<ol class="app-task-list">
			<li>
				<h2 class="app-task-list__section">
					<span class="app-task-list__section-number">1. </span> Check before you start
				</h2>
				<ul class="app-task-list__items">                    
                    <!-- 1. Check eligibility -->
                    {% if sectionStatus.check === "completed" %}
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="check/index.html" aria-describedby="check-completed">Check eligibility</a>
                        </span>
                        <strong class="govuk-tag app-task-list__task-completed" id="check-completed">Completed</strong>
                    </li>
                    {% else %}
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="check/index.html">Check eligibility</a>
                        </span>                
                    </li>
                    {% endif %}
				</ul>
			</li>
			<li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">2. </span> Prepare application
                </h2>
			    <ul class="app-task-list__items">
                     <!-- 2.1 Name your application -->
                     {% if sectionStatus.name === "completed" %}
                     <li class="app-task-list__item">
                         <span class="app-task-list__task-name">
                             <a href="name/cya.html" aria-describedby="name-completed">Name your application</a>
                         </span>
                         <strong class="govuk-tag app-task-list__task-completed" id="name-completed">Completed</strong>
                     </li>
                     {% elif sectionStatus.name === "started" %}
                     <li class="app-task-list__item">
                         <span class="app-task-list__task-name">
                             <a href="name/index.html" aria-describedby="name-in-progress">Name your application</a>
                         </span>
                         <strong class="govuk-tag govuk-tag-progress app-task-list__task-completed" id="name-in-progress">In progress</strong>
                     </li> 
                     {% else %}
                     <li class="app-task-list__item">
                         <span class="app-task-list__task-name">
                             <a href="name/index.html">Name your application</a>
                         </span>                
                     </li>
                     {% endif %}
                    <!-- 2.2 Your items -->
                    {% if sectionStatus.items === "completed" %}
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="items/cya-items-2.html" aria-describedby="items-completed">Describe your product</a>
                        </span>
                        <strong class="govuk-tag app-task-list__task-completed" id="items-completed">Completed</strong>
                    </li>
                    {% elif sectionStatus.items === "started" %}
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="items/index.html" aria-describedby="items-in-progress">Describe your product</a>
                        </span>
                        <strong class="govuk-tag govuk-tag-progress app-task-list__task-completed" id="items-in-progress">In progress</strong>
                    </li> 
                    {% else %}
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="items/index.html">Describe your product</a>
                        </span>                
                    </li>
                    {% endif %}
                    <!-- 2.3 People involved -->
                    {% if sectionStatus.people === "completed" %}
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="people/cya-people.html" aria-describedby="people-completed">People involved</a>
                        </span>
                        <strong class="govuk-tag app-task-list__task-completed" id="people-completed">Completed</strong>
                    </li>
                    {% elif sectionStatus.people === "started" %}
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="people/index.html" aria-describedby="people-in-progress">People involved</a>
                        </span>
                        <strong class="govuk-tag govuk-tag-progress app-task-list__task-completed" id="people-in-progress">In progress</strong>
                    </li> 
                    {% else %}
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="people/index.html">People involved</a>
                        </span>                
                    </li>
                    {% endif %}
                    <!-- 2.4 End user undertaking -->
                    {% if sectionStatus.endUser === "completed" %}
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="end-user/cya-end-user.html" aria-describedby="end-user-completed">End user undertaking</a>
                        </span>
                        <strong class="govuk-tag app-task-list__task-completed" id="end-user-completed">Completed</strong>
                    </li>
                    {% elif sectionStatus.endUser === "started" %}
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="end-user/index.html" aria-describedby="end-user-in-progress">End user undertaking</a>
                        </span>
                        <strong class="govuk-tag govuk-tag-progress app-task-list__task-completed" id="end-user-in-progress">In progress</strong>
                    </li> 
                    {% else %}
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="end-user/index.html">End user undertaking</a>
                        </span>                
                    </li>
                    {% endif %}
                    <!-- 2.5 Other information -->
                    {% if sectionStatus.information === "completed" %}
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="information/cya.html" aria-describedby="other-completed">Add more information to support your application</a>
                        </span>
                        <strong class="govuk-tag app-task-list__task-completed" id="other-completed">Completed</strong>
                    </li>
                    {% elif sectionStatus.information === "started" %}
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="information/index.html" aria-describedby="other-in-progress">Add more information to support your application</a>
                        </span>
                        <strong class="govuk-tag govuk-tag-progress app-task-list__task-completed" id="other-in-progress">In progress</strong>
                    </li> 
                    {% else %}
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="information/index.html">Add more information to support your application</a>
                        </span>                
                    </li>
                    {% endif %}
                </ul>
            <li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">3. </span> Apply
                </h2>
				<ul class="app-task-list__items">
                    <!-- 3. Submit application link -->
                    {% if
                        (sectionStatus.check === "completed")
                        and (sectionStatus.name === "completed")
                        and (sectionStatus.items === "completed")
                        and (sectionStatus.people === "completed")
                        and (sectionStatus.endUser === "completed")
                        and (sectionStatus.information === "completed")
                    %}
					<li class="app-task-list__item">
						<span class="app-task-list__task-name">
							<a href="declaration.html" aria-describedby="submit-completed">Submit application</a>
						</span>
                    </li>
                    {% else %}
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name grey-text">Submit application</span>
                    </li>
                    {% endif %}
				</ul>
			</li>
		</ol>
		<p class="govuk-body"><a href="cancel-application.html">Cancel application</a></p>
	</div>
</div>
{% endblock %}
