
{% extends "layout-exporter.html" %}

{% block pageTitle %}Apply for an export licence - Exporter service name - Sprint future - LITE Prototypes{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds-from-desktop">
		<h1 class="govuk-heading-l">Check your answers</h1>
		<p class="govuk-body">TBC</p>
        <a href="../task-list?items=completed" class="govuk-button">Confirm and continue</a>
	</div>
</div>
{% endblock %}
