
{% extends "layout-exporter.html" %}

{% block pageTitle %}Describe your product - Exporter service name - GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        {% if data["edit"] == "true" %}
        <form action="cya-items" method="post">
        {% else %}
		<form action="quantity" method="post">
        {% endif %}
            {% if data["item-add"] == "Yes" %}
			<h1 class="govuk-label-wrapper">
				<label class="govuk-label govuk-label--l" for="description-2">Describe your product</label>
            </h1>
            <div class="govuk-form-group">
                <textarea class="govuk-textarea" id="description-2" name="description-2" rows="5">{{ data['description-2'] }}</textarea>
            </div>
            {% else %}
            <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--l" for="description">Describe your product</label>
            </h1>
            <div class="govuk-form-group">
                <textarea class="govuk-textarea" id="description" name="description" rows="5">{{ data['description'] }}</textarea>
            </div>
            {% endif %}
			<button type="submit" class="govuk-button" data-module="govuk-button">Save and continue</button><br />
			<p><a href="../task-list?items=started">Finish later</a></p> 
		</form>
	</div>
</div>
{% endblock %}
