
{% extends "layout-exporter.html" %}

{% block pageTitle %}Apply for an export licence - Exporter service name - Sprint future - LITE Prototypes{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Remove this product?</h1>
        {% if data['control-list'] %}
        <div class="govuk-inset-text">{{ data['control-list'] }}</div>
        {% else %}
        <div class="govuk-inset-text">Controlled Radioactive Sources - 1.1</div>
        {% endif%}
        <form action="item-removed" method="post">
            <div class="govuk-form-group">
                <div class="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="item-remove-yes" name="item-remove" type="radio" value="Yes" {{ checked("item-remove", "Yes") }}>
                        <label class="govuk-label govuk-radios__label" for="item-remove-yes">Yes</label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="item-remove-no" name="item-remove" type="radio" value="No" {{ checked("item-remove", "No") }}>
                        <label class="govuk-label govuk-radios__label" for="item-remove-no">No</label>
                    </div>	
                </div>
            </div>
            <button type="submit" class="govuk-button" data-module="govuk-button">Save and continue</button><br />
            <p><a href="../task-list?items=started">Finish later</a></p>
        </form>
	</div>
</div>
{% endblock %}
