
{% extends "layout-exporter.html" %}

{% block pageTitle %}Apply for an export licence - Exporter service name - Sprint future - LITE Prototypes{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        {% if data["edit"] == "true" %}
        <form action="cya-items" method="post">
        {% else %}
		<form action="value" method="post">
        {% endif %}
            {% if data["item-add"] == "Yes" %}
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">How many are you sending?</h1>
                </legend>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="quantity-2">Number of units</label>
                    <input class="govuk-input govuk-input--width-10" id="quantity-2" name="quantity-2" type="text" value="{{ data['quantity-2'] }}">
                </div>
            </fieldset>
            {% else %}
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">How many are you sending?</h1>
                </legend>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="quantity">Number of units</label>
                    <input class="govuk-input govuk-input--width-10" id="quantity" name="quantity" type="text" value="{{ data['quantity'] }}">
                </div>
            </fieldset>
            {% endif %}
			<button type="submit" class="govuk-button" data-module="govuk-button">Save and continue</button><br />
			<p><a href="../task-list?items=started">Finish later</a></p> 
		</form>
	</div>
</div>
{% endblock %}
