
{% extends "layout-exporter.html" %}

{% block pageTitle %}Apply for an export licence - Exporter licence account - Sprint future - LITE Prototypes{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form action="cya-items" method="post">
            {% if data["item-add"] == "Yes" %}
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">Upload a product specification</h1>
                    </legend>
                    <div class="govuk-form-group">
                        <!-- <label class="govuk-label" for="file-upload-2">Upload a file</label> -->
                        <input class="govuk-file-upload-2" id="file-upload-2" name="file-upload-2" type="file">
                    </div>
                </fieldset>
            </div>
            {% else %}
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">Upload a product specification</h1>
                    </legend>
                    <div class="govuk-form-group">
                        <!-- <label class="govuk-label" for="file-upload">Upload a file</label> -->
                        <input class="govuk-file-upload" id="file-upload" name="file-upload" type="file">
                    </div>
                </fieldset>
            </div>
            {% endif %}
			<button type="submit" class="govuk-button" data-module="govuk-button">Save and continue</button><br />
			<p><a href="../task-list?items=started">Finish later</a></p> 
		</form>
	</div>
</div>
{% endblock %}
