
{% extends "layout-exporter.html" %}

{% block pageTitle %}Is the end user also the consignee? - Exporter service name - GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form action="../task-list-5" method="post">
			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset">
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
						<h1 class="govuk-fieldset__heading">Is the end user also the consignee?</h1>
                    </legend>
                    <div class="govuk-form-group">
                        <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="yes-same" name="same-organistion" type="radio" value="Yes" {{ checked("same-organistion", "Yes") }}>
                                <label class="govuk-label govuk-radios__label" for="yes-same">Yes</label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="no-same" name="same-organistion" type="radio" value="No" {{ checked("same-organistion", "No") }}>
                                <label class="govuk-label govuk-radios__label" for="no-same">No</label>
                            </div>
                        </div>
                    </div>
                    

                </fieldset>
            </div>
            <button type="submit" class="govuk-button" data-module="govuk-button">Save and continue</button>
		</form>
	</div>
</div>
{% endblock %}
