
{% extends "layout-exporter.html" %}

{% block pageTitle %}Who will be the final recipient (end-user) of your goods? - Exporter service name - GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form action="name" method="post">
			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset">
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
						<h1 class="govuk-fieldset__heading">Who will be the final recipient (end-user) of your goods?</h1>
                    </legend>
                    <div class="govuk-form-group">
                        <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="gov-organisation" name="end-user-type" type="radio" value="Government Organisation" {{ checked("end-user-type", "Government Organisation") }}>
                                <label class="govuk-label govuk-radios__label" for="gov-organisation">Government Organisation</label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="commercial-organisation" name="end-user-type" type="radio" value="Commercial Organisation" {{ checked("end-user-type", "Commercial Organisation") }}>
                                <label class="govuk-label govuk-radios__label" for="commercial-organisation">Commercial Organisation</label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="individual" name="end-user-type" type="radio" value="Individual" {{ checked("end-user-type", "Individual") }}>
                                <label class="govuk-label govuk-radios__label" for="individual">Individual</label>
                            </div>
                            <div class="govuk-radios__divider">or</div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="other-conditional" name="end-user-type" type="radio" value="Other" {{ checked("end-user-type", "Other") }} data-aria-controls="conditional-other-conditional">
                                <label class="govuk-label govuk-radios__label" for="other-conditional">Other</label>
                            </div>
                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-other-conditional">
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="other-name">Please specify</label>
                                    <input class="govuk-input govuk-!-width-one-half" id="other-name" name="other-name" type="text" value="{{ data['other-name'] }}">
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="govuk-button" data-module="govuk-button">Save and continue</button>
		</form>
	</div>
</div>
{% endblock %}
