
{% extends "layout-exporter.html" %}

{% block pageTitle %}Enter the final recipient's web address (URL) - Exporter service name - GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form action="location" method="post">
            <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--l" for="recipient-url">Enter the final recipient's web address (URL)</label>
            </h1>
            <div class="govuk-form-group">
                <input class="govuk-input govuk-!-width-full" id="recipient-url" name="recipient-url" type="text" value="{{ data['recipient-url'] }}">
            </div>
            <button type="submit" class="govuk-button" data-module="govuk-button">Save and continue</button>
		</form>
	</div>
</div>
{% endblock %}
