
{% extends "layout-exporter.html" %}

{% block pageTitle %}Your sites - Exporter service name - GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <form action="../task-list-3" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">Your sites</h1>
                    </legend>
                    <span id="sign-in-hint" class="govuk-hint">Choose your sites.</span>
                    <div class="govuk-form-group">
                        <div class="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="site-1" name="select-site" type="checkbox" value="site 1" {{ checked("select-site", "site 1") }}>
                                <label class="govuk-label govuk-checkboxes__label" for="site-1">
                                    <strong>Department for International Trade</strong><br />
                                    50 Victoria Street<br />London<br />SW1H 0TL
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="site-2" name="select-site" type="checkbox" value="site 2" {{ checked("select-site", "site 2") }}>
                                <label class="govuk-label govuk-checkboxes__label" for="site-2">
                                    <strong>Department for International Trade</strong><br />
                                    50 Victoria Street<br />London<br />SW1H 0TL
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="site-3" name="select-site" type="checkbox" value="site 3" {{ checked("select-site", "site 3") }}>
                                <label class="govuk-label govuk-checkboxes__label" for="site-3">
                                    <strong>Department for International Trade</strong><br />
                                    50 Victoria Street<br />London<br />SW1H 0TL
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="site-4" name="select-site" type="checkbox" value="site 4" {{ checked("select-site", "site 4") }}>
                                <label class="govuk-label govuk-checkboxes__label" for="site-4">
                                    <strong>Department for International Trade</strong><br />
                                    50 Victoria Street<br />London<br />SW1H 0TL
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="site-5" name="select-site" type="checkbox" value="site 5" {{ checked("select-site", "site 5") }}>
                                <label class="govuk-label govuk-checkboxes__label" for="site-5">
                                    <strong>Department for International Trade</strong><br />
                                    50 Victoria Street<br />London<br />SW1H 0TL
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="site-6" name="select-site" type="checkbox" value="site 6" {{ checked("select-site", "site 6") }}>
                                <label class="govuk-label govuk-checkboxes__label" for="site-6">
                                    <strong>Department for International Trade</strong><br />
                                    50 Victoria Street<br />London<br />SW1H 0TL
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="site-7" name="select-site" type="checkbox" value="site 7" {{ checked("select-site", "site 7") }}>
                                <label class="govuk-label govuk-checkboxes__label" for="site-7">
                                    <strong>Department for International Trade</strong><br />
                                    50 Victoria Street<br />London<br />SW1H 0TL
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="site-8" name="select-site" type="checkbox" value="site 8" {{ checked("select-site", "site 8") }}>
                                <label class="govuk-label govuk-checkboxes__label" for="site-8">
                                    <strong>Department for International Trade</strong><br />
                                    50 Victoria Street<br />London<br />SW1H 0TL
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="site-9" name="select-site" type="checkbox" value="site 9" {{ checked("select-site", "site 9") }}>
                                <label class="govuk-label govuk-checkboxes__label" for="site-9">
                                    <strong>Department for International Trade</strong><br />
                                    50 Victoria Street<br />London<br />SW1H 0TL
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="site-10" name="select-site" type="checkbox" value="site 10" {{ checked("select-site", "site 10") }}>
                                <label class="govuk-label govuk-checkboxes__label" for="site-10">
                                    <strong>Department for International Trade</strong><br />
                                    50 Victoria Street<br />London<br />SW1H 0TL
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="govuk-button" data-module="govuk-button">Save and continue</button>
        </form>
    </div>
</div>
{% endblock %}
