
{% extends "layout-exporter.html" %}

{% block pageTitle %}Cancel application - Apply for an export licence - GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Apply for an export licence",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Cancel application</h1>
        <p class="govuk-body">When you cancel an application, your application will be deleted.</p>
        <p class="govuk-body">You will be given the option to start a new application on the next page.</p>
        <a href="application-cancelled" class="govuk-button">Cancel and delete</a>
	</div>
</div>
{% endblock %}
