
{% extends "layout-exporter.html" %}

{% block pageTitle %}Application complete - Apply for an export licence - GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Apply for an export licence",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">Application complete</h1>
            <div class="govuk-panel__body">Your reference number<br><strong>ABC1234D</strong></div>
        </div>
        <p class="govuk-body">We have sent you a confirmation email.</p>
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">We've sent your application to XXXX.</p>
        <p class="govuk-body">XXXX will contact you within XX days to either:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>approve your application and send licence paperwork</li>
            <li>ask for more information</li>
            <li>ask to change the terms of your application, for example to send fewer goods</li>
        </ul>
        <p class="govuk-body">If you do not here from XXXX within XX days, contact XXXX quoting your application reference:</p>
        <p class="govuk-body govuk-!-margin-bottom-0">Email: <a href="mailto:xxxx@xxxx.com" class="govuk-link">xxxx@xxxx.com</a></p>
        <p class="govuk-body">Telephone: 01234 567 891</p>
        <!-- <p class="govuk-body">We have also emailed you a copy of this information.</p> -->
        <p class="govuk-body"><a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)</p>
        <p class="govuk-body govuk-!-margin-top-6"><a href="#" class="govuk-link">Print this page</p>
	</div>
</div>
{% endblock %}
