
{% extends "layout-exporter.html" %}

{% block pageTitle %}Submitted application - Exporter service name - GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds-from-desktop">
        <span class="govuk-caption-l govuk-!-margin-bottom-0">Application name or reference</span>
        <h1 class="govuk-heading-l govuk-!-margin-bottom-7">{{ data['reference-application'] }}</h1>

        <!-- Your products -->
        <h2 class="govuk-heading-m">Describe your product</h2>
        {% if data['control-list-1'] and data['control-list-2'] %}
        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Product 1</h3>
        {% endif %}
		<dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Shipping from</dt>
                <dd class="govuk-summary-list__value">{{ data['location-1'] }}</dd>
            </div> 
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Shipping address</dt>
                {% if data["location-1"] === "Outside the UK" %}
                <dd class="govuk-summary-list__value">{{ data['address-shipping-1'] | striptags(true) | escape | nl2br }}</dd>
                {% else %}
                <dd class="govuk-summary-list__value">50 Victoria Street<br />London<br />SW1H 0TL</dd>
                {% endif %}
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Classification</dt>
                <dd class="govuk-summary-list__value">{{ data['control-list-1'] }}</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Product</dt>
                <dd class="govuk-summary-list__value">{{ data['description-1'] }}</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Quantity</dt>
                <dd class="govuk-summary-list__value">{{ data['quantity-1'] }}</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Value</dt>
                <dd class="govuk-summary-list__value">£{{ data['total-value-1'] }}</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Specification</dt>
                <dd class="govuk-summary-list__value">{{ data['file-upload-1'] }}</dd>
            </div>
        </dl>
        {% if data['control-list-2'] %}
        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Product 2</h3>
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Shipping from</dt>
                <dd class="govuk-summary-list__value">{{ data['location-2'] }}</dd>
            </div> 
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Shipping address</dt>
                {% if data["location-2"] === "Outside the UK" %}
                <dd class="govuk-summary-list__value">{{ data['address-shipping-2'] | striptags(true) | escape | nl2br }}</dd>
                {% else %}
                <dd class="govuk-summary-list__value">50 Victoria Street<br />London<br />SW1H 0TL</dd>
                {% endif %}
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Classification</dt>
                <dd class="govuk-summary-list__value">{{ data['control-list-2'] }}</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Product</dt>
                <dd class="govuk-summary-list__value">{{ data['description-2'] }}</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Quantity</dt>
                <dd class="govuk-summary-list__value">{{ data['quantity-2'] }}</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Value</dt>
                <dd class="govuk-summary-list__value">£{{ data['total-value-2'] }}</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Specification</dt>
                <dd class="govuk-summary-list__value">{{ data['file-upload-2'] }}</dd>
            </div>
        </dl>
        {% endif %}

        <!-- People involved -->
        <h2 class="govuk-heading-m govuk-!-margin-top-7">People involved</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">End user</dt>
                <dd class="govuk-summary-list__value">{{ data['user-type'] }}</dd>
            </div>
            {% if data['user-type'] == "Organisation" and data['organisation-type'] == "Other" %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Organisation name</dt>
                <dd class="govuk-summary-list__value">{{ data['organisation-name'] }}</dd>
            </div> 
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Type of orgnisation</dt>
                <dd class="govuk-summary-list__value">Other - {{ data['other-name'] }}</dd>
            </div>
            {% elseif data['user-type'] == "Organisation" and data['organisation-type'] == "Government" %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Organisation name</dt>
                <dd class="govuk-summary-list__value">{{ data['organisation-name'] }}</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Type of organisation</dt>
                <dd class="govuk-summary-list__value">Government - {{ data['government-name'] }}</dd>
            </div>
            {% elseif data['user-type'] == "Organisation" and data['organisation-type'] == "Commerical organisation" %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Organisation name</dt>
                <dd class="govuk-summary-list__value">{{ data['organisation-name'] }}</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Type of organisation</dt>
                <dd class="govuk-summary-list__value">{{ data['organisation-type'] }}</dd>
            </div>
            {% else %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Full name</dt>
                <dd class="govuk-summary-list__value">{{ data['individual-name'] }}</dd>
            </div> 
            {% endif %}
            {% if data['have-website'] == "Yes" %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Website</dt>
                <dd class="govuk-summary-list__value">Yes - {{ data['website-url'] }}</dd>
            </div> 
            {% else %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Website</dt>
                <dd class="govuk-summary-list__value">{{ data['have-website'] }}</dd>
            </div> 
            {% endif %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Address</dt>
                <dd class="govuk-summary-list__value">{{ data['address'] | striptags(true) | escape | nl2br }}</dd>
            </div> 
        </dl>

        <p class="govuk-!-margin-top-8"><a href="#">Start a new application</a></p> 
	</div>
</div>
{% endblock %}
