
{% extends "layout-exporter.html" %}

{% block pageTitle %}Exporter service name - Exporter service name - GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l govuk-!-margin-bottom-7">Apply for an export licence</h1>
		<ol class="app-task-list">
			<li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">1. </span> Prepare application
                </h2>
			    <ul class="app-task-list__items">
                     <!-- Licence type -->
                     <li class="app-task-list__item">
                         <span class="app-task-list__task-name">
                             <a href="type/index.html" aria-describedby="name-in-progress">Licence type</a>
                         </span>
                         <!-- <strong class="govuk-tag govuk-tag-progress app-task-list__task-completed" id="name-in-progress">In progress</strong> -->
                     </li> 
                    <!-- Add products to application -->
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="../products/product-added-application-30-products.html" aria-describedby="products-completed">Add products to application</a>
                        </span>
                        <!-- <strong class="govuk-tag app-task-list__task-completed" id="products-completed">Completed</strong> -->
                    </li>
                    <!-- Add locations to application -->
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="#">Add locations to application</a>
                        </span>                
                    </li>
                    <!-- Add end users to application -->
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="#">Add end users to application</a>
                        </span>                
                    </li>
                    <!-- Add an ultimate end user to application -->
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="#">Add an ultimate end user to application</a>
                        </span>                
                    </li>
                    <!-- Add a consignee to application -->
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="#">Add a consignee to application</a>
                        </span>                
                    </li>
                    <!-- Add third parties to application -->
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="#">Add third parties to application</a>
                        </span>                
                    </li>
                </ul>
            </li>
            <li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">2. </span> Review application
                </h2>
                <ul class="app-task-list__items">                    
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="#">Check application answers</a>
                        </span>                
                    </li>
                </ul>
            </li>
            <li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">3. </span> Apply
                </h2>
				<ul class="app-task-list__items">
                    <!-- Submit application -->
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name grey-text">Sign declaration before you submit</span>
                    </li>
				</ul>
			</li>
		</ol>
		<p class="govuk-body"><a href="#">Cancel application</a></p>
	</div>
</div>
{% endblock %}
