
{% extends "layout-exporter.html" %}

{% block pageTitle %}Exporter service name - Exporter service name - GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l govuk-!-margin-bottom-7">Apply for an export licence</h1>
		<ol class="app-task-list">
			
			<li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">1. </span> Prepare application
                </h2>
			    <ul class="app-task-list__items">
                     <!-- 1.1 Name your application -->
                     {% if sectionStatus.name === "completed" %}
                     <li class="app-task-list__item">
                         <span class="app-task-list__task-name">
                             <a href="name/cya.html" aria-describedby="name-completed">Name your application</a>
                         </span>
                         <strong class="govuk-tag app-task-list__task-completed" id="name-completed">Completed</strong>
                     </li>
                     {% elif sectionStatus.name === "started" %}
                     <li class="app-task-list__item">
                         <span class="app-task-list__task-name">
                             <a href="name/index.html" aria-describedby="name-in-progress">Name your application</a>
                         </span>
                         <strong class="govuk-tag govuk-tag-progress app-task-list__task-completed" id="name-in-progress">In progress</strong>
                     </li> 
                     {% else %}
                     <li class="app-task-list__item">
                         <span class="app-task-list__task-name">
                             <a href="name/index.html">Name your application</a>
                         </span>                
                     </li>
                     {% endif %}
                    <!-- 1.2 Your products -->
                    {% if sectionStatus.products === "completed" %}
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="products/cya-2-task-list.html" aria-describedby="products-completed">Describe your product</a>
                        </span>
                        <strong class="govuk-tag app-task-list__task-completed" id="products-completed">Completed</strong>
                    </li>
                    {% elif sectionStatus.products === "started" %}
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="products/index-1.html" aria-describedby="products-in-progress">Describe your product</a>
                        </span>
                        <strong class="govuk-tag govuk-tag-progress app-task-list__task-completed" id="products-in-progress">In progress</strong>
                    </li> 
                    {% else %}
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="products/index-1.html">Describe your product</a>
                        </span>                
                    </li>
                    {% endif %}
                    <!-- 1.3 People involved -->
                    {% if sectionStatus.people === "completed" %}
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="people/cya.html" aria-describedby="people-completed">People involved</a>
                        </span>
                        <strong class="govuk-tag app-task-list__task-completed" id="people-completed">Completed</strong>
                    </li>
                    {% elif sectionStatus.people === "started" %}
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="people/index.html" aria-describedby="people-in-progress">People involved</a>
                        </span>
                        <strong class="govuk-tag govuk-tag-progress app-task-list__task-completed" id="people-in-progress">In progress</strong>
                    </li> 
                    {% else %}
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="people/index.html">People involved</a>
                        </span>                
                    </li>
                    {% endif %}
                    <!-- 1.4 Other information -->
                    {% if sectionStatus.information === "completed" %}
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="information/cya.html" aria-describedby="other-completed">Support your application</a>
                        </span>
                        <strong class="govuk-tag app-task-list__task-completed" id="other-completed">Completed</strong>
                    </li>
                    {% elif sectionStatus.information === "started" %}
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="information/index.html" aria-describedby="other-in-progress">Support your application</a>
                        </span>
                        <strong class="govuk-tag govuk-tag-progress app-task-list__task-completed" id="other-in-progress">In progress</strong>
                    </li> 
                    {% else %}
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="information/index.html">Support your application</a>
                        </span>                
                    </li>
                    {% endif %}
                </ul>
            </li>

            <li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">2. </span> Review application
                </h2>
                <ul class="app-task-list__items">                    
                    <!-- 2. Check application -->
                    {% if sectionStatus.check === "completed" %}
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="check/index.html" aria-describedby="check-completed">Check application answers</a>
                        </span>
                        <strong class="govuk-tag app-task-list__task-completed" id="check-completed">Completed</strong>
                    </li>
                    {% else %}
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="check/index.html">Check application answers</a>
                        </span>                
                    </li>
                    {% endif %}
                </ul>
            </li>

            <li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">3. </span> Apply
                </h2>
				<ul class="app-task-list__items">
                    <!-- 3. Submit application link -->
                    {% if
                        (sectionStatus.check === "completed")
                        and (sectionStatus.name === "completed")
                        and (sectionStatus.products === "completed")
                        and (sectionStatus.people === "completed")
                        and (sectionStatus.information === "completed")
                    %}
					<li class="app-task-list__item">
						<span class="app-task-list__task-name">
							<a href="declaration.html" aria-describedby="submit-completed">Sign declaration before you submit</a>
						</span>
                    </li>
                    {% else %}
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name grey-text">Sign declaration before you submit</span>
                    </li>
                    {% endif %}
				</ul>
			</li>
		</ol>
		<p class="govuk-body"><a href="cancel-application.html">Cancel application</a></p>
	</div>
</div>
{% endblock %}
