
{% extends "layout-exporter.html" %}

{% block pageTitle %}Exporter service name - Exporter service name - GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l govuk-!-margin-bottom-7">Apply for an export licence</h1>
		<ol class="app-task-list">
			<li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">1. </span> Prepare application
                </h2>
			    <ul class="app-task-list__items">
                    <!-- Licence type -->
                    {% if sectionStatus.type === "completed" %}
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <!-- <a href="type/cya.html" aria-describedby="name-in-progress">Licence type</a> -->
                            <a href="type/index.html" aria-describedby="name-in-progress">Licence type</a>
                        </span>
                        <strong class="govuk-tag app-task-list__task-completed" id="name-completed">Completed</strong>
                    </li> 
                    {% elif sectionStatus.type === "started" %}
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="type/index.html" aria-describedby="name-in-progress">Licence type</a>
                        </span>
                        <strong class="govuk-tag govuk-tag-progress app-task-list__task-completed" id="name-in-progress">In progress</strong>
                    </li> 
                    {% else %}
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="type/index.html">Licence type</a>
                        </span>    
                        <strong class="govuk-tag govuk-tag-initial app-task-list__task-completed" id="name-in-progress">Not started</strong>            
                    </li>
                    {% endif %}
                    <!-- Add products -->
                    {% if sectionStatus.products === "completed" %}
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <!-- <a href="products/product-added-application.html" aria-describedby="name-in-progress">Add products</a> -->
                            <a href="products/index.html" aria-describedby="name-in-progress">Add products</a>
                        </span>
                        <strong class="govuk-tag app-task-list__task-completed" id="name-completed">Completed</strong>
                    </li> 
                    {% elif sectionStatus.products === "started" %}
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="products/index.html" aria-describedby="name-in-progress">Add products</a>
                        </span>
                        <strong class="govuk-tag govuk-tag-progress app-task-list__task-completed" id="name-in-progress">In progress</strong>
                    </li> 
                    {% else %}
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="products/index.html">Add products</a>
                        </span>  
                        <strong class="govuk-tag govuk-tag-initial app-task-list__task-completed" id="name-in-progress">Not started</strong>              
                    </li>
                    {% endif %}
                    <!-- Add destination countries -->
                    {% if sectionStatus.destinations === "completed" %}
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="destinations/xxx.html" aria-describedby="name-in-progress">Add destination countries</a>
                        </span>
                        <strong class="govuk-tag app-task-list__task-completed" id="name-completed">Completed</strong>
                    </li> 
                    {% elif sectionStatus.destinations === "started" %}
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="destinations/index.html" aria-describedby="name-in-progress">Add destination countries</a>
                        </span>
                        <strong class="govuk-tag govuk-tag-progress app-task-list__task-completed" id="name-in-progress">In progress</strong>
                    </li> 
                    {% else %}
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="#">Add destination countries</a>
                        </span> 
                        <strong class="govuk-tag govuk-tag-initial app-task-list__task-completed" id="name-in-progress">Not started</strong>               
                    </li>
                    {% endif %}

            
                    <!-- Add end users -->
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="#">Add end users</a>
                        </span>
                        <strong class="govuk-tag govuk-tag-initial app-task-list__task-completed" id="name-in-progress">Not started</strong>                
                    </li>
                    <!-- Add an ultimate end user -->
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="#">Add an ultimate end user</a>
                        </span>   
                        <strong class="govuk-tag govuk-tag-initial app-task-list__task-completed" id="name-in-progress">Not started</strong>             
                    </li>
                    <!-- Add a consignee -->
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="#">Add a consignee</a>
                        </span> 
                        <strong class="govuk-tag govuk-tag-initial app-task-list__task-completed" id="name-in-progress">Not started</strong>               
                    </li>
                    <!-- Add any other third parties -->
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="#">Add any other third parties</a>
                        </span>  
                        <strong class="govuk-tag govuk-tag-initial app-task-list__task-completed" id="name-in-progress">Not started</strong>              
                    </li>
                </ul>
            </li>
            <li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">2. </span> Review application
                </h2>
                <ul class="app-task-list__items"> 
                    {% if
                        (sectionStatus.name === "completed")
                        and (sectionStatus.products === "completed")
                        and (sectionStatus.destinations === "completed")
                    %}                   
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="#">Check your answers</a>
                        </span>                
                    </li>
                    {% else %}
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">Check your answers</span>
                    </li>
                    {% endif %}
                </ul>
            </li>
            <li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">3. </span> Apply
                </h2>
				<ul class="app-task-list__items">
                    <!-- Submit application -->
                    {% if
                        (sectionStatus.name === "completed")
                        and (sectionStatus.products === "completed")
                        and (sectionStatus.destinations === "completed")
                    %}
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a href="declaration.html" aria-describedby="submit-completed">Sign declaration before you submit</a>
                        </span>
                    </li>
                    {% else %}
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">Sign declaration before you submit</span>
                    </li>
                    {% endif %}
				</ul>
			</li>
		</ol>
		<p class="govuk-body"><a href="cancel-application.html">Cancel application</a></p>
	</div>
</div>
{% endblock %}
