
{% extends "layout-exporter.html" %}

{% block pageTitle %}End user undertaking - Exporter service name - GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form action="upload-document" method="post">
			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset">
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
						<h1 class="govuk-fieldset__heading">End user undertaking</h1>
					</legend>
					<div class="govuk-radios">
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="agree" name="euu-document" type="radio" value="Uploaded" {{ checked("euu-document", "Uploaded") }}>
							<label class="govuk-label govuk-radios__label" for="agree">I have this document, it is signed by the end user and I am ready to upload it</label>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="unable" name="euu-document" type="radio" value="I do not have this yet" {{ checked("euu-document", "I do not have this yet") }}>
							<label class="govuk-label govuk-radios__label" for="unable">I do not have this yet</label>
						</div>	
					</div>
                </fieldset>
                <details class="govuk-details govuk-!-margin-top-4" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">Where can I get an end user undertaking (EUU) document from</span>
                    </summary>
                    <div class="govuk-details__text">An EUU is a document signed by the end user (the person you are sending your product to). This document checks who the end user is and explains what they plan to do with your product. You can get a template EUU from <a href="#" target="_blank">[where]</a> if you do not have this yet.</div>
                </details>
			</div>
			<button type="submit" class="govuk-button" data-module="govuk-button">Save and continue</button><br />
			<p><a href="../task-list?endUser=started">Finish later</a></p>  
		</form>
	</div>
</div>
{% endblock %}
