
{% extends "layout-exporter.html" %}

{% block pageTitle %}Products (2 found) - Exporter service name - GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Products (2 found)</h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <div class="filter-section">
            <form action="#" method="post">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading">Filter by</h2>
                    </legend>
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="products-name">Product</label>
                        <input class="govuk-input" id="products-name" name="products-name" type="text" value="{{ data['products-name'] }}">
                    </div>
                </fieldset>
                <button type="submit" class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">Filter products</button>
                <a href="all-products-application.html" class="govuk-link clear-filter">Clear filter</a>
            </form>
        </div>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <div class="filter-results govuk-body govuk-!-font-size-16">
            <span class="title">Containing</span>
            <a href="#" class="filter-button">
                <span class="close-btn govuk-!-font-size-24">&times;</span> 
                <span class="filter-word">MLD-TC87 two locks</span>
            </a>
            <span>and</span>
            <a href="#" class="filter-button">
                <span class="close-btn govuk-!-font-size-24">&times;</span>
                <span class="filter-word">Nuclear Fuel Complex 13</span>
            </a>
        </div>
		<table class="govuk-table govuk-!-margin-bottom-4">
            <caption class="govuk-table__caption hidden">Product and action</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Product</th>
                    <th scope="col" class="govuk-table__header">Action</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">MLD-TC87 two locks</td>
                    <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">Add product to application</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Nuclear Fuel Complex 13</td>
                    <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">Add product to application</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
