
{% extends "layout-exporter.html" %}

{% block pageTitle %}Products (1 found) - Exporter service name - GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Products (1 found)</h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">        
        <div class="search-section govuk-!-margin-bottom-4">
            <form action="all-products-application-search" method="post">
                <div class="govuk-form-group govuk-!-margin-bottom-0">
                    <label class="govuk-label govuk-label--m" for="search-products">Search products</label>
                    <div class="clearfix">
                        <input class="govuk-input govuk-!-width-full govuk-!-margin-bottom-3" id="search-products" name="search-products" type="text" value="{{ data['search-products'] }}">
                        <button type="submit" class="govuk-button" data-module="govuk-button">Search</button>
                        <a href="all-products-application.html" class="govuk-link clear-search">Clear search</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="filter-results govuk-body govuk-!-font-size-16">
            <span class="title">Containing</span>
            <a href="all-products-application.html" class="filter-button">
                <span class="close-btn govuk-!-font-size-24">&times;</span> 
                <span class="filter-word">Lockheed AC-137</span>
            </a>
            <!-- <span>and</span>
            <a href="#" class="filter-button">
                <span class="close-btn govuk-!-font-size-24">&times;</span>
                <span class="filter-word">Nuclear Fuel Complex 13</span>
            </a> -->
        </div>
		<table class="govuk-table govuk-!-margin-bottom-4">
            <caption class="govuk-table__caption hidden">Product and action</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Product</th>
                    <th scope="col" class="govuk-table__header">Action</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Lockheed AC-137</td>
                    <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">Add product to application</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
