
{% extends "layout-exporter.html" %}

{% block pageTitle %}Check product that has been added to application - Exporter service name - GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-l">Check product that has been added to application</h1>
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Description</dt>
                <dd class="govuk-summary-list__value">Firearms designed for dummy ammunition</dd>
                <dd class="govuk-summary-list__actions">&nbsp;</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Part number</dt>
                <dd class="govuk-summary-list__value">USZIPNMB76</dd>
                <dd class="govuk-summary-list__actions">&nbsp;</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Control rating</dt>
                <dd class="govuk-summary-list__value">ML1</dd>
                <dd class="govuk-summary-list__actions">&nbsp;</dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Value of products</dt>
                <dd class="govuk-summary-list__value">{{ data['value-products'] | formatNumber }}</dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="add-to-application.html#value-products">Change<span class="govuk-visually-hidden"> value of products</span></a> 
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Quantity</dt>
                <dd class="govuk-summary-list__value">{{ data['quantity'] }}</dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="add-to-application.html#quantity">Change<span class="govuk-visually-hidden"> quantity</span></a> 
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Unit of measurement</dt>
                <dd class="govuk-summary-list__value">{{ data['measurement'] }}</dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="add-to-application.html#measurement">Change<span class="govuk-visually-hidden"> unit of measurement</span></a> 
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Incorporated</dt>
                <dd class="govuk-summary-list__value">{{ data['end-product'] }}</dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="add-to-application.html#end-product">Change<span class="govuk-visually-hidden"> incorporated</span></a> 
                </dd>
            </div>
        </dl>
        <a href="product-added-application.html" class="govuk-button">Save and continue</a>
        <!-- <a href="list-of-products-application.html" class="govuk-button">Add product to application</a> -->
	</div>
</div>
{% endblock %}
