
{% extends "layout-exporter.html" %}

{% block pageTitle %}Describe your product - Exporter service name - GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form action="quantity-1" method="post">
            <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--l" for="description-1">Describe your product</label>
            </h1>
            <div class="govuk-form-group">
                <textarea class="govuk-textarea" id="description-1" name="description-1" rows="5">{{ data['description-1'] }}</textarea>
            </div>
			<button type="submit" class="govuk-button" data-module="govuk-button">Save and continue</button><br />
			<p><a href="../task-list?products=started">Finish later</a></p> 
		</form>
	</div>
</div>
{% endblock %}
