
{% extends "layout-exporter.html" %}

{% block pageTitle %}You have added 1 product - Exporter service name - GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">You have added 1 product</h1>
        <table class="govuk-table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">British Challenger 2</td>
                    <td class="govuk-table__cell">£{{ data['value-products'] | formatNumber }}</td>
                    <td class="govuk-table__cell">{{ data['quantity'] }}</td>
                    {% if data['measurement'] === "Other" %}
                    <td class="govuk-table__cell">{{ data['other-measurement'] }}</td>
                    {% else %}
                    <td class="govuk-table__cell">{{ data['measurement'] }}</td>
                    {% endif %}
                    <td class="govuk-table__cell govuk-!-width-one-quarter"><a href="add-to-application.html">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="remove-product-application.html">Remove</a></td> 
                </tr>
            </tbody>
        </table> 
        <form action="all-products-application" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading">Add another product to application?</h2>
                    </legend>
                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="product-add-yes" name="product-add-application-test" type="radio" value="true">
                            <label class="govuk-label govuk-radios__label" for="product-add-yes">Yes</label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="product-add-no" name="product-add-application-test" type="radio" value="false">
                            <label class="govuk-label govuk-radios__label" for="product-add-no">No</label>
                        </div>	
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">Continue</button>
            <a href="../task-list?products=started" class="govuk-button govuk-button--secondary">Finish later</a>
        </form>
	</div>
</div>
{% endblock %}
