
{% extends "layout-exporter.html" %}

{% block pageTitle %}How many are you sending? - Exporter service name - GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form action="value-1" method="post">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">How many are you sending?</h1>
                </legend>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="quantity-1">Number of units</label>
                    <input class="govuk-input govuk-input--width-10" id="quantity-1" name="quantity-1" type="text" value="{{ data['quantity-1'] }}">
                </div>
            </fieldset>
			<button type="submit" class="govuk-button" data-module="govuk-button">Save and continue</button><br />
			<p><a href="../task-list?products=started">Finish later</a></p> 
		</form>
	</div>
</div>
{% endblock %}
