
{% extends "layout-exporter.html" %}

{% block pageTitle %}Remove product from application? - Exporter service name - GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-1">Remove product from application?</h1>
        <span class="govuk-caption-l govuk-!-margin-bottom-4">British Challenger 2</span>
        <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-0">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Value</dt>
                <dd class="govuk-summary-list__value">£{{ data['value-products'] | formatNumber }}</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Quantity</dt>
                <dd class="govuk-summary-list__value">{{ data['quantity'] }}</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Measurement</dt>
                <dd class="govuk-summary-list__value">{{ data['measurement'] }}</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Part for another product</dt>
                <dd class="govuk-summary-list__value">{{ data['end-product'] }}</dd>
            </div>
        </dl>
        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6"> 
        <form action="product-added-application-none" method="post">
                <button type="submit" class="govuk-button govuk-button govuk-!-margin-right-1" data-module="govuk-button">Yes, remove product</button>
                <a href="../task-list?products=started" class="govuk-button govuk-button--secondary">Finish later</a>
        </form>
        <p class="govuk-body"><a href="javascript:window.history.back()">No, do not remove product</a></p>
	</div>
</div>
{% endblock %}
