
{% extends "layout-exporter.html" %}

{% block pageTitle %}What is the total value? - Apply for an export licence - GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Apply for an export licence",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form action="upload-document-1" method="post">
            <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--l" for="total-value-1">What is the total value?</label>
            </h1>
            <div class="govuk-form-group">
                <span class="govuk-body">£</span> <input class="govuk-input govuk-!-width-one-half" id="total-value-1" name="total-value-1" type="text" value="{{ data['total-value-1'] }}">
            </div>
			<button type="submit" class="govuk-button" data-module="govuk-button">Save and continue</button><br />
			<p><a href="../task-list?products=started">Finish later</a></p> 
		</form>
	</div>
</div>
{% endblock %}
