
{% extends "layout-exporter.html" %}

{% block pageTitle %}Apply for an export licence - Exporter service name - Sprint future - LITE Prototypes{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form action="check-your-answers" method="post">
			<div class="govuk-form-group">
				<h1 class="govuk-label-wrapper">
					<label class="govuk-label govuk-label--l" for="address">Select shipping address</label>
				</h1>
				<select class="govuk-select" id="address" name="address">
					<option value="found" selected>2 addresses found</option>
					<option value="victoria">50 Victoria St, Westminster, London SW1H 0TL</option>
					<option value="tfl">Transport For London Street Management</option>
				</select>
			</div>
			<p class="govuk-body govuk-!-margin-top-6">Postcode <span class="govuk-!-font-weight-bold">SW1H 0TL</span> &nbsp;&nbsp;&nbsp;<a href="location-uk.html">Change</a></p>
			<p class=" govuk-!-margin-top-4 govuk-!-margin-bottom-6"><a href="location-uk-manual.html">I can't find my address</a></p> 
			<button type="submit" class="govuk-button" data-module="govuk-button">Save and continue</button><br />
			<p><a href="../task-list?tbc=started">Finish later</a></p>  
		</form>
	</div>
</div>
{% endblock %}
