
{% extends "layout-exporter.html" %}

{% block pageTitle %}Are you an agent or broker? - Exporter service name - GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form action="other-consultants" method="post">
			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset">
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
						<h1 class="govuk-fieldset__heading">Are you an agent or broker?</h1>
                    </legend>
                    <span id="event-name-hint" class="govuk-hint">This is the person that arranges the export deal on behalf of the exporter.</span>
                    <div class="govuk-form-group">
                        <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="yes-agent-broker" name="is-agent-broker" type="radio" value="Yes" {{ checked("is-agent-broker", "Yes") }}>
                                <label class="govuk-label govuk-radios__label" for="yes-agent-broker">Yes</label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="no-agent-broker" name="is-agent-broker" type="radio" value="No" {{ checked("is-agent-broker", "No") }}>
                                <label class="govuk-label govuk-radios__label" for="no-agent-broker">No</label>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">Save and continue</button>
            <!-- <a href="../task-list-1-progress" class="govuk-button govuk-button--secondary">Return to this application later</a> -->
		</form>
	</div>
</div>
{% endblock %}
