
{% extends "layout-exporter.html" %}

{% block pageTitle %}Check your answers - Apply for an export licence - GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Apply for an export licence",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds-from-desktop">
		<h1 class="govuk-heading-l">Check your answers</h1>
		<dl class="govuk-summary-list govuk-!-margin-bottom-9">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">End user</dt>
				<dd class="govuk-summary-list__value">{{ data['user-type'] }}</dd>
				<dd class="govuk-summary-list__actions">
					<a class="govuk-link" href="index.html">Change<span class="govuk-visually-hidden"> end user</span></a> 
				</dd>
            </div>
            {% if data['organisation-name'] %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Organisation name</dt>
                <dd class="govuk-summary-list__value">{{ data['organisation-name'] }}</dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="organisation.html#organisation-name">Change<span class="govuk-visually-hidden"> organisation name</span></a> 
                </dd>
            </div> 
            {% else %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Individual name</dt>
                <dd class="govuk-summary-list__value">{{ data['individual-name'] }}</dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="individual.html#individual-name">Change<span class="govuk-visually-hidden"> individual name</span></a> 
                </dd>
            </div> 
            {% endif %}
            {% if data['organisation-type'] == "Other" %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Type of orgnisation</dt>
                <dd class="govuk-summary-list__value">Other - {{ data['other-name'] }}</dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="organisation-type.html">Change<span class="govuk-visually-hidden"> type of organisation</span></a> 
                </dd>
            </div>
            {% elseif data['organisation-type'] == "Government" %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Type of organisation</dt>
                <dd class="govuk-summary-list__value">Government - {{ data['government-name'] }}</dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="organisation-type.html">Change<span class="govuk-visually-hidden"> type of organisation</span></a> 
                </dd>
            </div>
            {% elseif data['organisation-type'] == "Commerical organisation" %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Type of organisation</dt>
                <dd class="govuk-summary-list__value">{{ data['organisation-type'] }}</dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="organisation-type.html">Change<span class="govuk-visually-hidden"> type of organisation</span></a> 
                </dd>
            </div>
            {% endif %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Website</dt>
                <dd class="govuk-summary-list__value">{{ data['website-url'] }}</dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="website.html#website-url">Change<span class="govuk-visually-hidden"> website</span></a> 
                </dd>
            </div> 
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Address</dt>
                <dd class="govuk-summary-list__value">{{ data['address'] | striptags(true) | escape | nl2br }}</dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="address.html#address">Change<span class="govuk-visually-hidden"> address</span></a> 
                </dd>
            </div> 
        </dl>
        <a href="../task-list?people=completed" class="govuk-button">Confirm and continue</a>
	</div>
</div>
{% endblock %}
