
{% extends "layout-exporter.html" %}

{% block pageTitle %}What type of organisation is this? - Apply for an export licence - GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Apply for an export licence",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form action="website" method="post">
			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset">
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
						<h1 class="govuk-fieldset__heading">What type of organisation is this?</h1>
					</legend>
					<div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="commercial-organisation" name="organisation-type" type="radio" value="Commerical organisation" {{ checked("organisation-type", "Commerical organisation") }}>
							<label class="govuk-label govuk-radios__label" for="commercial-organisation">Commercial organisation</label>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="government" name="organisation-type" type="radio" value="Government" {{ checked("organisation-type", "Government") }} data-aria-controls="conditional-government-conditional">
							<label class="govuk-label govuk-radios__label" for="government-conditional">Government</label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-government-conditional">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="government-name">Government name</label>
                                <input class="govuk-input govuk-!-width-two-thirds" id="government-name" name="government-name" type="text" value="{{ data['government-name'] }}">
                            </div>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="other-conditional" name="organisation-type" type="radio" value="Other" {{ checked("organisation-type", "Other") }}  data-aria-controls="conditional-other-conditional">
                            <label class="govuk-label govuk-radios__label" for="other-conditional">Other</label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-other-conditional">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="other-name">Other name</label>
                                <input class="govuk-input govuk-!-width-two-thirds" id="other-name" name="other-name" type="text" value="{{ data['other-name'] }}">
                            </div>
                        </div>
					</div>
				</fieldset>
			</div>
			<button type="submit" class="govuk-button" data-module="govuk-button">Save and continue</button><br />
			<p><a href="../task-list?people=started">Finish later</a></p>  
		</form>
	</div>
</div>
{% endblock %}
