
{% extends "layout-exporter.html" %}

{% block pageTitle %}What kind of organisation do they work for? - Exporter service name - GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form action="contact-details" method="post">
			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset">
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
						<h1 class="govuk-fieldset__heading">What kind of organisation do they work for?</h1>
					</legend>
					<div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="government" name="organisation-type" type="radio" value="Government" {{ checked("organisation-type", "Government") }}>
							<label class="govuk-label govuk-radios__label" for="government">Government</label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="business" name="organisation-type" type="radio" value="Business" {{ checked("organisation-type", "Business") }}>
                            <label class="govuk-label govuk-radios__label" for="business">Business</label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="something-else-conditional" name="organisation-type" type="radio" value="Something else" {{ checked("organisation-type", "Something else") }}  data-aria-controls="conditional-something-else-conditional">
                            <label class="govuk-label govuk-radios__label" for="something-else-conditional">Something else</label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-something-else-conditional">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="something-else-name">Describe what their organisation does</label>
                                <!-- <input class="govuk-input govuk-!-width-two-thirds" id="something-else-name" name="something-else-name" type="text" value="{{ data['something-else-name'] }}"> -->
                                <textarea class="govuk-textarea" id="something-else-name" name="something-else-name" rows="5">{{ data['something-else-name'] }}</textarea>
                            </div>
                        </div>
					</div>
				</fieldset>
			</div>
			<button type="submit" class="govuk-button" data-module="govuk-button">Save and continue</button><br />
			<p><a href="../task-list?people=started">Finish later</a></p>  
		</form>
	</div>
</div>
{% endblock %}
