
{% extends "layout-exporter.html" %}

{% block pageTitle %}Address - Exporter service name - GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <form action="other-consultants-location" method="post">
            <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--l" for="agent-broker-non-UK-address">Address</label>
            </h1>
            <div class="govuk-form-group">
                <textarea class="govuk-textarea" id="agent-broker-non-UK-address" name="agent-broker-non-UK-address" rows="5">{{ data['agent-broker-non-UK-address'] }}</textarea>
            </div>	
            <button type="submit" class="govuk-button" data-module="govuk-button">Save and continue</button>
		</form>
	</div>
</div>
{% endblock %}
