
{% extends "layout-exporter.html" %}

{% block pageTitle %}Website URL (optional) - Apply for an export licence - GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Apply for an export licence",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <form action="address" method="post">
            <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--l" for="website-url">Website URL (optional)</label>
            </h1>
            <div class="govuk-form-group">
                    <!-- <span class="govuk-body">http(s)://</span> --> <input class="govuk-input govuk-!-width-two-thirds" id="website-url" name="website-url" type="text" value="{{ data['website-url'] }}">
            </div>
			<button type="submit" class="govuk-button" data-module="govuk-button">Save and continue</button><br />
			<p><a href="../task-list?people=started">Finish later</a></p> 
		</form>
	</div>
</div>
{% endblock %}
