
{% extends "layout-exporter.html" %}

{% block pageTitle %}Is your consignee also the end user? - Exporter service name - GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <!-- <form action="../task-list-5-not-req" method="post"> -->
        <form action="consignee-added" method="post">
			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset">
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
						<h1 class="govuk-fieldset__heading">Is your consignee also the end user?</h1>
                    </legend>
                    <span id="event-name-hint" class="govuk-hint">Sometimes the consignee (the person you send your products to) is also the the end user (the person who will sell your products).</span>
                    <div class="govuk-form-group">
                        <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="yes-consignee-end-user" name="consignee-end-user" type="radio" value="Yes" {{ checked("consignee-end-user", "Yes") }}>
                                <label class="govuk-label govuk-radios__label" for="yes-consignee-end-user">Yes</label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="no-consignee-end-user" name="consignee-end-user" type="radio" value="No" {{ checked("consignee-end-user", "No") }}>
                                <label class="govuk-label govuk-radios__label" for="no-consignee-end-user">No</label>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="govuk-button" data-module="govuk-button">Save and continue</button>
		</form>
	</div>
</div>
{% endblock %}
