
{% extends "layout-exporter.html" %}

{% block pageTitle %}Who is the consignee? - Exporter service name - GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form action="organisation" method="post">
			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset">
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
						<h1 class="govuk-fieldset__heading">Who is the consignee?</h1>
                    </legend>
                    <span id="event-name-hint" class="govuk-hint">This is someone who looks after the goods after their first stop, on the way to their final destination.</span>
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--m" for="consignee-name">Name</label>
                        <input class="govuk-input govuk-!-width-two-thirds" id="consignee-name" name="consignee-name" type="text" value="{{ data['consignee-name'] }}">
                    </div>
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--m" for="consignee-name">Do they have a website?</label>
                        <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="yes-conditional" name="consignee-have-website" type="radio" value="Yes" {{ checked("consignee-have-website", "Yes") }}  data-aria-controls="conditional-yes-conditional">
                                <label class="govuk-label govuk-radios__label" for="yes-conditional">Yes</label>
                            </div>
                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-yes-conditional">
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="consignee-website-url">Website</label>
                                    <input class="govuk-input govuk-!-width-two-thirds" id="consignee-website-url" name="consignee-website-url" type="text" value="{{ data['consignee-website-url'] }}">
                                </div>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="no-website" name="consignee-have-website" type="radio" value="No" {{ checked("consignee-have-website", "No") }}>
                                <label class="govuk-label govuk-radios__label" for="no-website">No</label>
                            </div>
                        </div>
                    </div>
                    

                </fieldset>
            </div>
            <button type="submit" class="govuk-button" data-module="govuk-button">Save and continue</button>
		</form>
	</div>
</div>
{% endblock %}
