
{% extends "layout-exporter.html" %}

{% block pageTitle %}Check your answers - Exporter service name - GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds-from-desktop">
		<h1 class="govuk-heading-l">Check your answers</h1>
		<dl class="govuk-summary-list govuk-!-margin-bottom-9">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">End user undertaking</dt>
				<dd class="govuk-summary-list__value">{{ data['euu-document'] }}</dd>
				<dd class="govuk-summary-list__actions">
					<a class="govuk-link" href="index.html">Change<span class="govuk-visually-hidden"> end user undertaking</span></a> 
				</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Upload a file for end user undertaking</dt>
                <dd class="govuk-summary-list__value">{{ data['file-upload'] }}</dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="upload-document.html#file-upload">Change<span class="govuk-visually-hidden"> upload a file for end user undertaking</span></a> 
                </dd>
            </div>  
        </dl>
        <a href="../task-list?endUser=completed" class="govuk-button">Confirm and continue</a>
	</div>
</div>
{% endblock %}
