
{% extends "layout-exporter.html" %}

{% block pageTitle %}Product removed - Exporter service name - GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l govuk-!-margin-bottom-6">Product removed</h1>
        <p class="govuk-body"><a href="index">Add another product</a></p>
        <p class="govuk-body"><a href="../task-list?products=started">Finish later</a></p>
	</div>
</div>
{% endblock %}
