
{% extends "layout-exporter.html" %}

{% block pageTitle %}What is the total value? - Exporter service name - GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        {% if data["edit"] == "true" %}
        <form action="cya" method="post">
        {% else %}
		<form action="upload-document" method="post">
        {% endif %}
            {% if data["item-add"] == "Yes" %}
			<h1 class="govuk-label-wrapper">
				<label class="govuk-label govuk-label--l" for="total-value-2">What is the total value?</label>
			</h1>
			<div class="govuk-form-group">
				<span class="govuk-body">£</span> <input class="govuk-input govuk-!-width-one-half" id="total-value-2" name="total-value-2" type="text" value="{{ data['total-value-2'] }}">
            </div>
            {% else %}
            <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--l" for="total-value">What is the total value?</label>
            </h1>
            <div class="govuk-form-group">
                <span class="govuk-body">£</span> <input class="govuk-input govuk-!-width-one-half" id="total-value" name="total-value" type="text" value="{{ data['total-value'] }}">
            </div>
            {% endif %}
			<button type="submit" class="govuk-button" data-module="govuk-button">Save and continue</button><br />
			<p><a href="../task-list?products=started">Finish later</a></p> 
		</form>
	</div>
</div>
{% endblock %}
