
{% extends "layout.html" %}

{% block pageTitle %}LITE - LITE prototypes - GOV.UK{% endblock %}

{% block beforeContent %}<!-- empty -->{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl">LITE prototypes<span class="govuk-caption-xl">based on GOV.UK Prototype Kit {{releaseVersion}}</span></h1>{{releaseVersion | log }}
		<div class="govuk-tabs" data-module="govuk-tabs">
            <h2 class="govuk-tabs__title">LITE services</h2>
            <ul class="govuk-tabs__list">
                <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                    <a class="govuk-tabs__tab" href="#exporter">Exporter</a>
                </li>
                <li class="govuk-tabs__list-item">
                    <a class="govuk-tabs__tab" href="#versions">Versions</a>
                </li>
                <!-- # Internal content
                <li class="govuk-tabs__list-item">
                    <a class="govuk-tabs__tab" href="#internal">Internal</a>
                </li>
                -->

                <!-- # Permissions Finder content 
                <li class="govuk-tabs__list-item">
                    <a class="govuk-tabs__tab" href="#permissions-finder">Permissions Finder</a>
                </li>
                -->

                <!-- # Archive content
                    <li class="govuk-tabs__list-item">
                    <a class="govuk-tabs__tab" href="#archive">Archive</a>
                </li> -->
                
                <!-- # Jira content
                <li class="govuk-tabs__list-item">
                    <a class="govuk-tabs__tab" href="#jira">Jira</a>
                </li> 
                -->
            </ul>
            <section class="govuk-tabs__panel" id="exporter">
                <h2 class="govuk-heading-l">Exporter</h2>
                <a href="exporter/gov-uk-guidance.html" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-bottom-1" data-module="govuk-button">
                    Start journey
                    <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
                        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                    </svg>
                </a>
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                <h3 class="govuk-heading-m govuk-!-margin-bottom-1">GOV.UK</h3>
                <p class="govuk-body govuk-!-margin-bottom-0">Entry points into our service.</p>
                <ul class="govuk-list govuk-!-margin-top-2">
                    <li><a href="exporter/gov-uk-guidance.html">GOV.UK - Guidance</a></li>
                    <li><a href="exporter/gov-uk-start.html">GOV.UK - Start</a></li>
                </ul>
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Sign in or create account</h3>
                <ul class="govuk-list govuk-!-margin-top-0">
                    <li><a href="exporter/login.html">Sign in</a>
                        <!-- # Error example	
                        <ul class="govuk-list govuk-!-margin-top-0">
                            <li><a href="#">[Error] Incorrect email address</a></li>
                        </ul> 
                        -->
                    </li>
                    <li><a href="exporter/create-account.html">Create an account</a></li>
                    <li><a href="exporter/check-email.html">Check your email</a></li>
                    <li><a href="exporter/account-activated.html">Account activated</a></li>
                    <li><a href="exporter/password-forgot.html">Forgotten your password</a></li>
                    <!-- <li><a href="exporter/password-reset.html">Reset your password</a></li> 
                    <li><a href="exporter/password-reset-confirm.html">Password reset</a></li>
                    <li><a href="exporter/email-reset.html">Reset email address</a></li> 
                    <li><a href="exporter/email-reset-confirm.html">Email address reset</a></li> -->
                    <li><a href="exporter/sign-out.html">Sign out</a></li>
                </ul>
                <!-- # Error example
                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">Validation errors</span>
                    </summary>
                    <div class="govuk-details__text">
                        <ul class="govuk-list govuk-!-margin-top-0">
                            <li><a href="#">Sign in</a></li>
                            <li><a href="#">Create an account</a></li>
                            <li><a href="#">Reset your passsword</a></li>
                            <li><a href="#">Reset email address</a></li>
                        </ul>
                    </div>
                </details> 
                -->
                <h4 class="govuk-heading-s govuk-!-margin-top-4 govuk-!-margin-bottom-1">Email notifications</h4>
                <ul class="govuk-list govuk-!-margin-top-0">
                    <li><a href="exporter/email-notifications/account-created.html">Account created</a></li>
                    <li><a href="exporter/email-notifications/password-reset.html">Password reset</a></li>
                    <!-- Are more email templates needed? -->
                </ul>
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Exporter service</h3> 
                <h4 class="govuk-heading-s govuk-!-margin-top-4 govuk-!-margin-bottom-1">Standard Licence</h4>
                <ul class="govuk-list govuk-!-margin-top-0">
                    <li><a href="exporter/apply/task-list.html">Apply for an export licence</a></li>
                </ul> 
                <!-- <h4 class="govuk-heading-s govuk-!-margin-top-4 govuk-!-margin-bottom-1">Open Licence</h4>
                <ul class="govuk-list govuk-!-margin-top-0">
                    <li><a href="#">TBC</a></li>
                </ul> 
                <h4 class="govuk-heading-s govuk-!-margin-top-4 govuk-!-margin-bottom-1">Products</h4> -->
                <!-- <ul class="govuk-list govuk-!-margin-top-0 govuk-!-margin-bottom-2">
                    <li><a href="exporter/products/index.html">Add a product to an application by</a></li>
                </ul> -->
                <h4 class="govuk-heading-s govuk-!-margin-top-4 govuk-!-margin-bottom-1">Features</h4>
                <ul class="govuk-list govuk-!-margin-top-0 govuk-!-margin-bottom-0">
                    <li>
                        <details class="govuk-details govuk-!-margin-bottom-0" data-module="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">Add a new product</span>
                            </summary>
                            <div class="govuk-details__text">
                                <ul class="govuk-list govuk-!-margin-top-0">
                                    <li><a href="exporter/products/add-product.html">Add a new product</a></li>
                                    <li><a href="exporter/products/product-added.html">Product added</a></li>
                                    <li><a href="exporter/products/product-added-30-products.html">Product added - 30 products</a></li>
                                    <li><a href="exporter/products/product-added-none.html">Product added - None</a></li>
                                    <li><a href="exporter/products/all-products.html">Products</a></li>
                                    <li><a href="exporter/products/all-products-pagination.html">Products - Pagination</a></li>
                                    <li><a href="exporter/products/all-products-filter.html">Products - Filter</a></li>
                                    <li><a href="exporter/products/all-products-none.html">Products - None</a></li>
                                    <li><a href="exporter/products/product.html">Product - Draft</a></li>
                                    <li><a href="exporter/products/product-submitted.html">Product - Submitted</a></li>
                                    <li><a href="exporter/products/product-clc.html">Product - Control List Classification</a></li>
                                    <li><a href="exporter/products/product-clc-notes.html">Product - Control List Classification (Notes example)</a></li>
                                    <li><a href="exporter/products/product-clc-ecju.html">Product - Control List Classification (ECJU example)</a></li>
                                    <li><a href="exporter/products/product-verified.html">Product - Verified</a></li>
                                    <li><a href="exporter/products/remove-product.html">Remove product</a></li>
                                </ul>
                            </div>
                        </details>
                    </li>
                </ul>
                <ul class="govuk-list govuk-!-margin-top-0 govuk-!-margin-bottom-0">
                    <li>
                        <details class="govuk-details govuk-!-margin-bottom-0" data-module="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">Add products to an application</span>
                            </summary>
                            <div class="govuk-details__text">
                                <ul class="govuk-list govuk-!-margin-top-0">
                                    <li><a href="exporter/products/all-products-application.html">Products available</a></li>
                                    <li><a href="exporter/products/all-products-application-search.html">Products available - Search results</a></li>
                                    <li><a href="exporter/products/all-products-application-none.html">Products available - None</a></li>
                                    <li><a href="exporter/products/add-to-application.html">Add product to application</a></li>
                                    <li><a href="exporter/products/add-to-application-radio.html">Add product to application - Radio version</a></li>
                                    <li><a href="exporter/products/product-added-application.html">Product added to application</a></li>
                                    <li><a href="exporter/products/product-added-application-30-products.html">Product added to application - 30 products</a></li>
                                    <li><a href="exporter/products/product-added-application-none.html">Product added to application - None</a></li>
                                    <li><a href="exporter/products/remove-product-application">Remove product from application?</a></li>
                                </ul>
                            </div>
                        </details>
                    </li>
                </ul>
                <ul class="govuk-list govuk-!-margin-top-0 govuk-!-margin-bottom-0">
                    <li>
                        <details class="govuk-details govuk-!-margin-bottom-0" data-module="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">Add a new site</span>
                            </summary>
                            <div class="govuk-details__text">
                                <ul class="govuk-list govuk-!-margin-top-0">
                                    <li><a href="exporter/sites/add-site.html">Add a site</a></li>
                                    <li><a href="exporter/sites/site-uk.html">Add a site (UK) - Postcode lookup</a></li>
                                    <li><a href="exporter/sites/site-uk-select.html">Add a site (UK) - Postcode found</a></li>
                                    <li><a href="exporter/sites/site-uk-manual.html">Add a site (UK) - Enter manually</a></li>
                                    <li><a href="exporter/sites/site-country.html">Add a site (non-UK) - Country</a></li>
                                    <li><a href="exporter/sites/site-outside-uk.html">Add a site (non-UK) - Enter address</a></li>
                                    <li><a href="exporter/sites/site-added.html">Site added</a></li>
                                    <li><a href="exporter/sites/site-added-none.html">Site added - None</a></li>
                                    <li><a href="exporter/sites/all-sites.html">Sites</a></li>
                                    <li><a href="exporter/sites/all-sites-none.html">Sites - None</a></li>
                                    <li><a href="exporter/sites/remove-site.html">Remove site</a></li>
                                    <!-- <li><a href="exporter/products/product-added.html">Product added</a></li>
                                    <li><a href="exporter/products/product-added-30-products.html">Product added - 30 products</a></li>
                                    <li><a href="exporter/products/product-added-none.html">Product added - None</a></li>
                                    <li><a href="exporter/products/all-products.html">Products</a></li>
                                    <li><a href="exporter/products/all-products-pagination.html">Products - Pagination</a></li>
                                    <li><a href="exporter/products/all-products-filter.html">Products - Filter</a></li>
                                    <li><a href="exporter/products/all-products-none.html">Products - None</a></li>
                                    <li><a href="exporter/products/product.html">Product - Draft</a></li>
                                    <li><a href="exporter/products/product-submitted.html">Product - Submitted</a></li>
                                    <li><a href="exporter/products/product-clc.html">Product - Control List Classification</a></li>
                                    <li><a href="exporter/products/product-verified.html">Product - Verified</a></li>
                                    <li><a href="exporter/products/remove-product.html">Remove product</a></li> -->
                                </ul>
                            </div>
                        </details>
                    </li>
                </ul>
                <!-- 
                <h4 class="govuk-heading-s govuk-!-margin-top-4 govuk-!-margin-bottom-0">Licence management</h4>
                <ul class="govuk-list govuk-!-margin-top-0">
                    <li><a href="#">Check for a licence</a></li>
                    <li><a href="#">Apply for a licence</a></li>
                    <li><a href="exporter/applications.html">View applications for a licence</a></li>
                    <li><a href="exporter/track-applications.html">Track applications for a licence</a></li>
                    <li><a href="#">Appeal against a decision</a></li>
                </ul> -->

                <!-- # Error example
                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">Validation errors</span>
                    </summary>
                    <div class="govuk-details__text">
                        <ul class="govuk-list govuk-!-margin-top-0">
                            <li><a href="#">Check for a licence</a></li>
                            <li><a href="#">Apply for a licence</a></li>
                            <li><a href="#">View licences</a></li>
                            <li><a href="#">Appeals</a></li>
                        </ul>
                    </div>
                </details> 
                -->
                
                <!--
                <h4 class="govuk-heading-s govuk-!-margin-top-4 govuk-!-margin-bottom-0">Tasks???</h4>
                <ul class="govuk-list govuk-!-margin-top-0">
                    <li><a href="exporter/ask-a-question.html">Ask a question</a></li>
                    <li><a href="exporter/upload-document.html">Upload a document</a></li>
                </ul>
                <h4 class="govuk-heading-s govuk-!-margin-top-4 govuk-!-margin-bottom-0">Account management</h4>
                <ul class="govuk-list govuk-!-margin-top-0">
                    <li><a href="#">Edit your account</a></li>
                    <li><a href="#">Delete your account</a></li>
                </ul> -->
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                <h3 class="govuk-heading-m govuk-!-margin-bottom-1">No service</h3>
                <ul class="govuk-list govuk-!-margin-top-0">
                    <li><a href="exporter/service-unavailable.html">Service unavailable (error 503)</a></li>
                    <li><a href="exporter/service-problem.html">There is a problem (error 500)</a></li>
                    <li><a href="exporter/service-not-found.html">Page not found (error 404)</a></li>
                </ul>
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Accessibility</h3>
                <ul class="govuk-list govuk-!-margin-top-0">
                    <li><a href="exporter/accessibility.html">Accessibility statement</a></li>
                </ul>
            </section>
            <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="versions">
                <h2 class="govuk-heading-l">Versions</h2>
                <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Check your answers</h3>
                <p>Testing the length of the check your answers page with 60 products for the apply for an export licence journey</p>
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-2">
                    <!--
                        Replace link below once testing has been done.

                        <li>Version 1 tested on <a href="exporter/apply/cya-60-products-v1">28 October 2019</a></li> 
                    -->
                    <li><a href="exporter/apply/cya-60-products-v1">Version 1</a></li>
                </ul>
            </section>

            <!-- # Internal content
            <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="internal">
                <h2 class="govuk-heading-l">Internal</h2>
                <a href="#" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-bottom-1" data-module="govuk-button">
                    Start journey
                    <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
                        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                    </svg>
                </a>
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Cases</h3>
                <ul class="govuk-list govuk-!-margin-top-2">
                    <li><a href="internal/index.html">Cases</a></li>
                </ul>
            </section> 
            -->

            <!-- # Permissions Finder content
            <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="permissions-finder">
                <h2 class="govuk-heading-l">Permissions Finder</h2>
                <a href="permissions-finder/gov-uk-guidance.html" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-bottom-1" data-module="govuk-button">
                    Start journey
                    <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
                        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                    </svg>
                </a>
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                <h3 class="govuk-heading-m govuk-!-margin-bottom-1">GOV.UK</h3>
                <p class="govuk-body govuk-!-margin-bottom-0">Entry points into our service.</p>
                <ul class="govuk-list govuk-!-margin-top-2">
                    <li><a href="permissions-finder/gov-uk-guidance.html">GOV.UK - Guidance</a></li>
                    <li><a href="permissions-finder/gov-uk-start.html">GOV.UK - Start</a></li>
                </ul>
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Email notifications</h3>
                <ul class="govuk-list govuk-!-margin-top-0">
                    <li><a href="permissions-finder/email-notifications/application-code.html">Application number</a></li>
                </ul> 
            </section> 
            -->

            <!-- # Archive content
            <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="archive">
                <h2 class="govuk-heading-l">Archive</h2>
                <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Check your answers</h3>
                <p class="govuk-body govuk-!-margin-bottom-0">Lab days</p>
                <ul class="govuk-list govuk-!-margin-top-2">
                    <li><a href="https://lite-28102019-cya.herokuapp.com/">28 October 2019</a></li>
                </ul>
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Apply for an export licence</h3>
                <p class="govuk-body govuk-!-margin-bottom-0">Lab days</p>
                <ul class="govuk-list govuk-!-margin-top-2">
                    <li><a href="#">XX October 2019</a></li>
                    <li><a href="#">XX November 2019</a></li>
                    <li><a href="#">XX November 2019</a></li>
                </ul>
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                <h3 class="govuk-heading-m govuk-!-margin-bottom-1">TBC</h3>
                <p class="govuk-body govuk-!-margin-bottom-0">Lab days</p>
                <ul class="govuk-list govuk-!-margin-top-2">
                    <li><a href="#">XX XXXXXXX 2019</a></li>
                    <li><a href="#">XX XXXXXXX 2019</a></li>
                </ul> 
            </section> -->

            <!-- # Jira content
            <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="jira">
                <h2 class="govuk-heading-l">Jira</h2>
                <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Exporter</h3>
                <h4 class="govuk-heading-s govuk-!-margin-top-4 govuk-!-margin-bottom-0">Create a LITE account for an individual</h4>
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-0">
                    <li><a href="#">Prototype</a></li>
                    <li><a href="https://uktrade.atlassian.net/browse/LT-1417">Jira</a></li>						
                </ul>
                <h4 class="govuk-heading-s govuk-!-margin-top-4 govuk-!-margin-bottom-0">Create a LITE account for an individual</h4>
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-0">
                    <li><a href="#">Prototype</a></li>
                    <li><a href="https://uktrade.atlassian.net/browse/LT-1417">Jira</a></li>						
                </ul>
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Internal</h3>
                <h4 class="govuk-heading-s govuk-!-margin-top-4 govuk-!-margin-bottom-0">TBC</h4>
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-0">
                    <li><a href="#">Prototype</a></li>
                    <li><a href="#">Jira</a></li>						
                </ul>
            </section> 
            -->
        </div>
    </div>
</div>
{% endblock %}
