
{% extends "layout.html" %}

{% block pageTitle %}LITE Prototypes{% endblock %}

{% block beforeContent %}<!-- empty -->{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl">LITE <span class="govuk-caption-xl">based on GOV.UK Prototype Kit {{releaseVersion}}</span></h1>{{releaseVersion | log }}
		<h2 class="govuk-heading-m">Production sprints</h2>
		<ul class="govuk-list govuk-list--bullet">
			<li><a href="sprint-22/">Sprint 22</a></li>
			<li><a href="sprint-21/">Sprint 21</a></li>
		</ul>
		<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
		<h2 class="govuk-heading-m">Our sandbox area</h2>
		<ul class="govuk-list govuk-list--bullet">
			<li><a href="sprint-future/">Sprint future</a></li>
		</ul>
    </div>
</div>
{% endblock %}
