
{% extends "layout-exporter.html" %}

{% block pageTitle %}Which export licence do you want to apply for? - Exporter service name - GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
    serviceName: "Exporter service name",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigationClasses: "user-menu",
    navigation: [
      {
        href: "#",
        text: "My account"
      },
      {
        href: "../../sign-out.html",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form action="application-reference" method="post">
			<div class="govuk-form-group govuk-!-margin-bottom-2">
				<fieldset class="govuk-fieldset">
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
						<h1 class="govuk-fieldset__heading">Which export licence do you want to apply for?</h1>
                    </legend>
                    <div class="govuk-form-group">
                        <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="standard" name="export-licence-type" type="radio" value="Standard Licence" {{ checked("export-licence-type", "Standard Licence") }} aria-describedby="standard-item-hint">
                                <label class="govuk-label govuk-radios__label" for="standard">Standard Licence</label>
                                <span id="standard-item-hint" class="govuk-hint govuk-radios__hint">Choose this licence if this is your first export licence.</span>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="open" name="export-licence-type" type="radio" value="Open Licence" {{ checked("export-licence-type", "Open Licence") }} aria-describedby="Open-item-hint">
                                <label class="govuk-label govuk-radios__label" for="open">Open Licence</label>
                                <span id="standard-item-hint" class="govuk-hint govuk-radios__hint">Choose this licence if you are doing repeat business.</span>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">I do not know which licence I need</span>
                </summary>
                <div class="govuk-details__text">
                    <p class="govuk-body">Choose a standard licence if you want to export:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>to 1 organisation</li>
                        <li>for 1 to 2 years</li>
                        <li>a specific number of items</li>
                        <li>a specific value of items</li>
                    </ul>
                    <p class="govuk-body">Choose an open licence if you want to export:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>unlimited products</li>
                        <li>unlimited numbers</li>
                        <li>to multiple organisations</li>
                        <li>to multiple countries</li>
                        <li>for 3 to 5 years</li>
                    </ul>
                </div>
            </details>
			<button type="submit" class="govuk-button" data-module="govuk-button">Save and continue</button>
		</form>
	</div>
</div>
{% endblock %}
